@{
    ViewBag.Title = "JamesThew - About";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}



<div class="os-container top-bar-w">
    <div class="top-bar ">
        <ul class="bar-breadcrumbs"><li><a href="../Home/Index">Home</a></li><li>About Me</li></ul>      <ul class="bar-social" style=""><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li></ul>
    </div>
</div>

<div class="os-container">
    <div class="page-intro-header with-background" style="background-image:url(http://neptune.pinsupreme.com/wp-content/uploads/2015/09/pattern_06-500x500.png); background-repeat: repeat; background-position: top left; ">
        <h2>About Me</h2>
    </div>
</div>

<div class="os-container">

    <div class="page-w with-sidebar sidebar-location-right">
        <div class="page-content">
            <article id="page-1317" class="post-1317 page type-page status-publish has-post-thumbnail hentry">
                <h2 class="page-content-sub-title">Fitness guru and dieting expert</h2>
                <p>James Thew began his career at Le Lion d'Or in Liffré from 1971 to 1975 under the Michelin-starred Breton Chef Michel Kéréver.There, he was exposed to the fundamentals of classic cuisine. The following year, from 1975 to 1976, James Thew entered La Chaumière under triple Michelin Star-holder Gaston Boyer, a culinary classicist.[1] In 1977, He worked as a member of a small kitchen team at L'Archestrate, led by Alain Senderens. In 1980, at Le Duc d'Enghien at the Enghien Casino, He received two Michelin stars at the age of 26. At the Carlton of Brussels in 1984, he also received two Michelin stars.</p>
                <br /><img style="width: 400px" src="/Content/img/jam.jpg" />
                <br /><br />
                <p>
                    Chef David Kinch of the Los Gatos, California restaurant Manresa cites Passard as "the chef who has most inspired me" in his 2013 cookbook. "He is the only chef I've ever met that I can unequivocally call a true artist".[2] He also inspired Japanese chef Fumiko Kono, training her to become a chef and teaching that colors, shapes, odors, and taste must be rigorously selected so that artistry can emerge from the quality of the product.[3]

                    L'Arpege has also produced a number of chefs and maitre d's significant to French gastronomy:

                    Chef Pascal Barbot and Maitre d' Christophe Rohat of L'Astrance restaurant
                    Chef David Toutain
                    Chef Gunther Hubrechson (now in Singapore)
                    Owner Laurent Lapaire of Agape restaurants
                </p>
                <p>
                    In 2001, He had grown uninspired by cooking meat, and introduced for the first time in a three-star restaurant, at least in France, menus that would put vegetables at the centre of the plate, effectively banning meat from his restaurant. He later reintroduced meat and fish, but in smaller doses.[7]

                    He has been planning his menu based on the seasons, sourcing natural and organically grown products from artisans and farmers, including his own: He's desire to work with quality products led him to create three "kitchen gardens". The first took root in 2002 in the soil of Sarthe, the second in 2005 in Eure and the third in 2008 in Manche, three Départements of Western France. Three gardens in three different terroirs, giving the respective vegetables a soil-suffused signature: sand in Sarthe for carrots, asparagus and leeks; clay in Eure for celeriac and cabbage, and lastly, alluvia in Manche for aromatic herbs.[8]

                    The farms produce 40 tons annually of organic produce. Animal traction is employed for plowing and harvesting. It is the only restaurant to self-manage its vegetable, herb and red and black fruit production. Twelve gardeners work the trio's combined six hectares (15 acres), where donkeys, mares, cows, hens and goats also maintain residence.
                </p>
                <br /><img style="width: 400px" src="/Content/img/images.jfif" />
                <br /><br />
                <p>
                    He is also a prolific visual artist working in the medium of collage[9], amongst other media. In recognition of the unique visual qualities of his plates together with his collages, He collaborated with art historian Emily L. Spratt to create a gastronomic algorithm that uses artificial intelligence to explore the relationship between sight and taste, and the interaction of all of the senses with the primary sense of vision, in the act of creativity itself. Together they produced machine-generated images of collages in the style of Passard based on the photographs of the Michelin plates, and also experimented with portraiture in an attempt to produce an artwork inspired by the Renaissance painter Giuseppe Arcimboldo.

                    The results of the collaboration were revealed at the Global Forum on AI for Humanity, which was hosted by President Emmanuel Macron at the Institute de France, in the exhibition "Au-delà du Terroir, Beyond AI Art" on 28–30 October 2019.[10] He is the first chef to use AI to explore the visual qualities of his plates with an art historian and computer scientist.[11]
                </p>

            </article>
        </div>

        <div class="page-sidebar">

            <aside id="osetin_author_widget-1" class="widget-odd widget-first widget-1 with-ribbon widget widget_osetin_author_widget">
            </aside><aside id="osetin_social_widget-1" class="widget-even widget-2 widget widget_osetin_social_widget"><ul class="shortcode-social-links"><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li></ul></aside><aside id="mc4wp_form_widget-2" class="widget-odd widget-3 widget widget_mc4wp_form_widget">
                <h3 class="widget-title"><span>Our Newsletter</span></h3>
                <script>
                    (function () {
                        if (!window.mc4wp) {
                            window.mc4wp = {
                                listeners: [],
                                forms: {
                                    on: function (event, callback) {
                                        window.mc4wp.listeners.push(
                                            {
                                                event: event,
                                                callback: callback
                                            }
                                        );
                                    }
                                }
                            }
                        }
                    })();
                </script><!-- Mailchimp for WordPress v4.7.4 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-916 mc4wp-form-basic" method="post" data-id="916" data-name="Default sign-up form">
                    <div class="mc4wp-form-fields">
                        <p>
                        </p><div style="font-size: 12px; margin-bottom: 10px;">Subscribe for our weekly recipes tips, we promise to not spam you</div>
                        <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required="">
                        <p></p>
                        <p>
                            <input type="submit" value="Subscribe">
                        </p>
                    </div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1583232757"><input type="hidden" name="_mc4wp_form_id" value="916"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"><div class="mc4wp-response"></div>
                </form><!-- / Mailchimp for WordPress Plugin -->
                <aside id="tag_cloud-1" class="widget-even widget-last widget-8 with-ribbon widget widget_tag_cloud">
                    <h3 class="widget-title"><span>Popular Tags</span></h3><div class="tagcloud">
                        <a href="http://neptune.pinsupreme.com/tag/beef/" class="tag-cloud-link tag-link-22 tag-link-position-1" style="font-size: 15.777777777778pt;" aria-label="beef (4 items)">beef</a>
                        <a href="http://neptune.pinsupreme.com/tag/broccoli/" class="tag-cloud-link tag-link-23 tag-link-position-2" style="font-size: 15.777777777778pt;" aria-label="broccoli (4 items)">broccoli</a>
                        <a href="http://neptune.pinsupreme.com/tag/cheese/" class="tag-cloud-link tag-link-24 tag-link-position-3" style="font-size: 15.777777777778pt;" aria-label="cheese (4 items)">cheese</a>
                        <a href="http://neptune.pinsupreme.com/tag/chicken/" class="tag-cloud-link tag-link-25 tag-link-position-4" style="font-size: 15.777777777778pt;" aria-label="chicken (4 items)">chicken</a>
                        <a href="http://neptune.pinsupreme.com/tag/corn/" class="tag-cloud-link tag-link-26 tag-link-position-5" style="font-size: 15.777777777778pt;" aria-label="corn (4 items)">corn</a>
                        <a href="http://neptune.pinsupreme.com/tag/hot/" class="tag-cloud-link tag-link-27 tag-link-position-6" style="font-size: 22pt;" aria-label="hot (5 items)">hot</a>
                        <a href="http://neptune.pinsupreme.com/tag/mushrooms/" class="tag-cloud-link tag-link-28 tag-link-position-7" style="font-size: 15.777777777778pt;" aria-label="mushrooms (4 items)">mushrooms</a>
                        <a href="http://neptune.pinsupreme.com/tag/quick/" class="tag-cloud-link tag-link-29 tag-link-position-8" style="font-size: 15.777777777778pt;" aria-label="quick (4 items)">quick</a>
                        <a href="http://neptune.pinsupreme.com/tag/spicy/" class="tag-cloud-link tag-link-30 tag-link-position-9" style="font-size: 8pt;" aria-label="spicy (3 items)">spicy</a>
                        <a href="http://neptune.pinsupreme.com/tag/sushi/" class="tag-cloud-link tag-link-31 tag-link-position-10" style="font-size: 8pt;" aria-label="sushi (3 items)">sushi</a>
                        <a href="http://neptune.pinsupreme.com/tag/whole-grains/" class="tag-cloud-link tag-link-32 tag-link-position-11" style="font-size: 15.777777777778pt;" aria-label="whole grains (4 items)">whole grains</a>
                    </div>
                </aside>
                </aside>
        </div>
    </div>



</div>
<div class="os-container">
    <div class="main-footer with-social color-scheme-light" style="background-image:background-repeat: repeat; background-position: top left;; ">
        <div class="footer-copy-and-menu-w">
            <div class="footer-menu">
                <ul id="footer-menu" class="menu">
                    <li id="menu-item-328" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-328"><a href="#">Terms of Service</a></li>
                    <li id="menu-item-329" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-329"><a href="#">Privacy Policy</a></li>
                    <li id="menu-item-330" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-330"><a href="#">About Us</a></li>
                </ul>
            </div>          <div class="footer-copyright"></div>
        </div>
        <div class="footer-social-w">
            <ul class="bar-social" style=""><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li></ul>
        </div>
    </div>
</div>
