
@{
    ViewBag.Title = "AddRecipes";
    Layout = "~/Views/Shared/_LayoutRecipe.cshtml";
}
<style>
    .acf-input select, input[type="number"] {
        height: 40px;
        border-radius: 4px;
        border-color: #adc9da;
    }
    input[type="number"] {
        border: 1px solid #adc9da;
    }
</style>
<div class="os-container top-bar-w">
    <div class="top-bar ">
        <ul class="bar-breadcrumbs">
            <li><a href="http://neptune.pinsupreme.com">Home</a></li>
            <li>Submit Recipe</li>
        </ul>
        <ul class="bar-social" style="">
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li>
        </ul>
    </div>
</div>

<div class="os-container">
    <div class="page-intro-header with-background" style="background-image:url(/Content/assets/wp-content/uploads/2015/09/pattern_01-500x500.png); background-repeat: repeat; background-position: top left; ">
        <h2>Submit Recipe</h2>
    </div>
</div>
<div class="os-container">

    <div class="page-w ">
        <div class="page-content">
            <article id="page-568" class="post-568 page type-page status-publish has-post-thumbnail hentry">
                <div class="frontend-publisher-w">
                    <h2 class="form-header">Submit your recipe</h2>
                    <form id="frontend-publisher" class="acf-form" action="@Url.Action("SubmitRecipe","Chef")" method="post">
                        <div class="acf-fields acf-form-fields -top">


                            <div class="acf-field acf-field-text acf-field--post-title is-required" data-required="1" style="width: 80%" data-width="30">
                                <div class="acf-label">
                                    <label for="acf-_post_title">Title <span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap">
                                        <input type="text" id="acf-_post_title" name="title" required="required"/>
                                    </div>
                                </div>
                            </div>

                            <div class="acf-field acf-field-select acf-field-5585b766453f9" style="width:20%;" data-width="30">
                                <div class="acf-label">
                                    <label for="free">Free?</label>
                                </div>
                                <div class="acf-input">
                                    <select id="acf-field_5585b766453f9" class="" name="recipeType" placeholder="Select">
                                        <option value="1">Free</option>
                                        <option value="0">Not-Free</option>
                                    </select>
                                </div>
                            </div>    

                            <div class="acf-field acf-field-wysiwyg acf-field--post-content">
                                <div class="acf-label">
                                    <label for="acf-_post_content">Content<span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div id="acf-hidden-wp-editor" class="acf-hidden">
                                        <div id="wp-acf_content-wrap" class="wp-core-ui wp-editor-wrap tmce-active">
                                            <link rel='stylesheet' id='dashicons-css' href='~/Content/assets/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
                                            <link rel='stylesheet' id='editor-buttons-css' href='~/Content/assets/wp-includes/css/editor.min.css' type='text/css' media='all' />
                                            <div id="wp-acf_content-editor-tools" class="wp-editor-tools hide-if-no-js">
                                                <div class="wp-editor-tabs">
                                                    <button type="button" id="acf_content-tmce" class="wp-switch-editor switch-tmce" data-wp-editor-id="acf_content">Visual</button>
                                                    <button type="button" id="acf_content-html" class="wp-switch-editor switch-html" data-wp-editor-id="acf_content">Text</button>
                                                </div>
                                            </div>
                                            <div id="wp-acf_content-editor-container" class="wp-editor-container" data-required="1">
                                                <div id="qt_acf_content_toolbar" class="quicktags-toolbar"></div>
                                                <textarea class="wp-editor-area" rows="20" autocomplete="off" cols="40" name="acf_content" id="acf_content" required="required"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="wp-acf-editor-5e44240fc4bfc-wrap" class="acf-editor-wrap wp-core-ui wp-editor-wrap tmce-active" data-toolbar="full">
                                        <div id="wp-acf-editor-5e44240fc4bfc-editor-tools" class="wp-editor-tools hide-if-no-js">
                                            <div class="wp-editor-tabs">
                                                <button id="acf-editor-5e44240fc4bfc-tmce" class="wp-switch-editor switch-tmce" data-wp-editor-id="acf-editor-5e44240fc4bfc" type="button">Visual</button>
                                                <button id="acf-editor-5e44240fc4bfc-html" class="wp-switch-editor switch-html" data-wp-editor-id="acf-editor-5e44240fc4bfc" type="button">Text</button>
                                            </div>
                                        </div>
                                        <div id="wp-acf-editor-5e44240fc4bfc-editor-container" class="wp-editor-container">
                                            <textarea id="acf-editor-5e44240fc4bfc" class="wp-editor-area" name="content" style="height:300px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="acf-field acf-field-text acf-field--post-title is-required" data-required="1">
                                <div class="acf-label">
                                    <label for="post_image">Image <span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap">
                                        <input type="text" id="post_image" name="featuredImage" required="required"/>
                                    </div>
                                </div>
                            </div>


                            <div class="acf-field acf-field-select acf-field-5585b766453f9" style="width:50%;" data-width="30">
                                <div class="acf-label">
                                    <label for="acf-field_5585b766453f9">Recipe Category</label>
                                </div>
                                <div class="acf-input">
                                    <select id="acf-field_5585b766453f9" class="" name="categoryId" placeholder="Select">
                                        @foreach (var cate in ViewBag.Categories)
                                        {
                                            <option value="@(cate.Id)">@(cate.Name)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="acf-field acf-field-select acf-field-5585b766453f9" style="width:50%;" data-width="30">
                                <div class="acf-label">
                                    <label for="acf-field_5585b766453f9">Difficulty</label>
                                </div>
                                <div class="acf-input">
                                    <select id="acf-field_5585b766453f9" class="" name="difficulty" placeholder="Select">
                                        <option value="Easy">Easy</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Hard">Hard</option>
                                    </select>
                                </div>
                            </div>

                            <div class="acf-field acf-field-textarea acf-field-5588af3018cb3" style="width:100%;">
                                <div class="acf-label">
                                    <label for="acf-field_5588af3018cb3">Description</label>
                                </div>
                                <div class="acf-input">
                                    <textarea id="acf-field_5588af3018cb3" name="description" rows="3"></textarea>
                                </div>
                            </div>


                            <div class="acf-field acf-field-text acf-field-563041000427e" style="width:33%;" data-width="25">
                                <div class="acf-label">
                                    <label for="acf-field_563041000427e">Preparation Time<span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap">
                                        <input type="number" id="acf-field_563041000427e" name="preparationMinute" required="required"/>
                                    </div>
                                </div>
                            </div>


                            <div class="acf-field acf-field-text acf-field-56303fcf0427d" style="width:33%;" data-width="25">
                                <div class="acf-label">
                                    <label for="acf-field_56303fcf0427d">Cooking Time<span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap">
                                        <input type="number" id="acf-field_56303fcf0427d" name="cookingMinute" required="required"/>
                                    </div>
                                </div>
                            </div>


                            <div class="acf-field acf-field-text acf-field-563062b0f356d" style="width:33%;" data-width="25">
                                <div class="acf-label">
                                    <label for="acf-field_563062b0f356d">Cooking Temperature<span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap">
                                        <input type="number" id="acf-field_563062b0f356d" name="cookingTemp" required="required"/>
                                    </div>
                                </div>
                            </div>


                            <div class="acf-field acf-field-repeater acf-field-5585b695453f5">
                                <div class="acf-label">
                                    <label for="acf-field_5585b695453f5">Ingredients</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-repeater -empty -table">
                                        <table class="acf-table">

                                            <thead>
                                                <tr style="border-bottom: 1px solid #adc9da;">
                                                    <th>Index</th>
                                                    <th class="acf-th" data-name="ingredient_name" data-type="text">
                                                        Name
                                                    </th>
                                                    <th class="acf-th" data-name="ingredient_amount" data-type="text">
                                                        Amount
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody class="list-ct">
                                                <tr class="acf-row acf-clone ct">
                                                    <td class="acf-row-handle order" title="Drag to reorder">
                                                        <span>1</span>
                                                    </td>
                                                    <td class="acf-field acf-field-text acf-field-5585317d9b50b">
                                                        <div class="acf-input">
                                                            <div class="acf-input-wrap">
                                                                <input type="text" id="" name="listIngredient[0].Name" />
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="acf-field acf-field-text acf-field-558531f69b50c">
                                                        <div class="acf-input">
                                                            <div class="acf-input-wrap">
                                                                <input type="text" id="" name="listIngredient[0].Amount" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="acf-row-handle remove">
                                                        <a class="acf-icon -plus small acf-js-tooltip" href="#" data-event="add-row" title="Add row"></a>
                                                        <a class="acf-icon -minus small acf-js-tooltip" href="#" data-event="remove-row" title="Remove row"></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="acf-actions">
                                            <a class="acf-button button button-primary" id="btn-add-ingredient">Add Ingredient</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-repeater acf-field-5588b3032df0c">
                                <div class="acf-label">
                                    <label for="acf-field_5588b3032df0c">Steps</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-repeater -empty -block">
                                        <table class="acf-table">
                                            <thead>
                                                <tr style="border-bottom: 1px solid #adc9da;">
                                                    <th>Index</th>
                                                    <th class="acf-th" data-name="ingredient_name" data-type="text">
                                                        Content
                                                    </th>
                                                    <th></th>
                                            </thead>

                                            <tbody class="list-step">
                                                <tr class="acf-row step">

                                                    <td class="acf-row-handle order ui-sortable-handle">
                                                        <input type="text" id="" name="listStep[0].Index" value="1">
                                                    </td>

                                                    <td class="acf-fields">

                                                        <div class="acf-field acf-field-textarea acf-field-5588b30c2df0d -collapsed-target" style="width: 50%" data-width="30" data-name="step_description" data-type="textarea">
                                                            <div class="acf-label">
                                                                <label for="step_title">Title</label>
                                                            </div>
                                                            <div class="acf-input">
                                                                <input type="text" id="step_title" name="listStep[0].Title">
                                                            </div>
                                                        </div>
                                                        <div class="acf-field acf-field-textarea acf-field-5588b30c2df0d -collapsed-target" style="width: 50%" data-width="30" data-name="step_description" data-type="textarea">
                                                            <div class="acf-label">
                                                                <label for="image-step">Image</label>
                                                            </div>
                                                            <div class="acf-input">
                                                                <input type="text" id="image-step" name="listStep[0].ImagePath">
                                                            </div>
                                                        </div>

                                                        <div class="acf-field acf-field-textarea acf-field-5588b30c2df0d -collapsed-target" data-name="step_description" data-type="textarea">
                                                            <div class="acf-label">
                                                                <label for="step_description">Description</label>
                                                            </div>
                                                            <div class="acf-input">
                                                                <textarea id="step_description" name="listStep[0].Description" rows="4"></textarea>
                                                            </div>
                                                        </div>


                                                    </td>
                                                    <td class="acf-row-handle remove">
                                                        <a class="acf-icon -plus small acf-js-tooltip" href="#" data-event="add-row" title="Add row"></a>
                                                        <a class="acf-icon -minus small acf-js-tooltip" href="#" data-event="remove-row" title="Remove row"></a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="acf-actions">
                                            <a class="acf-button button button-primary" id="btn-add-step">Add Step</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-repeater acf-field-558bba316bc22">
                                <div class="acf-label">
                                    <label for="acf-field_558bba316bc22">Nutritions</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-repeater -empty -table">
                                        <table class="acf-table">
                                            <thead>
                                                <tr style="border-bottom: 1px solid #adc9da;">
                                                    <th>Index</th>
                                                    <th class="acf-th" data-name="nutrition_name" data-type="text">
                                                        Nutrition Name
                                                    </th>
                                                    <th class="acf-th" data-name="nutrition_value" data-type="text">
                                                        Nutrition Value
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody class="list-nutrition">
                                                <tr class="acf-row acf-clone nutrition">

                                                    <td class="acf-row-handle order">
                                                        <span>1</span>
                                                    </td>

                                                    <td class="acf-field acf-field-text acf-field-558bba3a6bc23 -collapsed-target" data-name="nutrition_name" data-type="text">
                                                        <div class="acf-input">
                                                            <div class="acf-input-wrap">
                                                                <input type="text" id="" name="listNutrition[0].Name" />
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="acf-field acf-field-text acf-field-558bba486bc24" data-name="nutrition_value" data-type="text">
                                                        <div class="acf-input">
                                                            <div class="acf-input-wrap">
                                                                <input type="text" id="" name="listNutrition[0].Value" />
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="acf-row-handle remove">
                                                        <a class="acf-icon -plus small acf-js-tooltip" href="#" data-event="add-row" title="Add row"></a>
                                                        <a class="acf-icon -minus small acf-js-tooltip" href="#" data-event="remove-row" title="Remove row"></a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="acf-actions" id="btn-add-nutrition">
                                            <a class="acf-button button button-primary">Add Nutrition</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="acf-form-submit">
                            <input type="submit" class="acf-button button button-primary button-large" value="Submit Recipe" /> <span class="acf-spinner"></span>
                        </div>
                    </form>
                </div>
            </article>
        </div>

    </div>
</div>
@section Scripts{
    <script>
    jQuery(document).ready(function($) {
        var index = 1;
        $('#btn-add-nutrition').click(function() {
            index++;
            var contentNutrition = `<tr class="acf-row acf-clone nutrition">

                                            <td class="acf-row-handle order">
                                                <span>${index}</span>
                                            </td>

                                            <td class="acf-field acf-field-text acf-field-558bba3a6bc23 -collapsed-target" data-name="nutrition_name" data-type="text">
                                                <div class="acf-input">
                                                    <div class="acf-input-wrap">
                                                        <input type="text" id="" name="listNutrition[${index - 1
                }].Name}" />
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="acf-field acf-field-text acf-field-558bba486bc24" data-name="nutrition_value" data-type="text">
                                                <div class="acf-input">
                                                    <div class="acf-input-wrap">
                                                        <input type="text" id="" name="listNutrition[${index - 1
                }].Value" />
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="acf-row-handle remove">
                                                <a class="acf-icon -plus small acf-js-tooltip" href="#" data-event="add-row" title="Add row"></a>
                                                <a class="acf-icon -minus small acf-js-tooltip" href="#" data-event="remove-row" title="Remove row"></a>
                                            </td>

                                        </tr>`;
            $('.list-nutrition').prepend(contentNutrition);
        });

        var indexCT = 1;
        $('#btn-add-ingredient').click(function() {
            indexCT++;
            var contentCT = `<tr class="acf-row acf-clone ct">
                                    <td class="acf-row-handle order" title="Drag to reorder">
                                        <span>${indexCT}</span>
                                    </td>
                                    <td class="acf-field acf-field-text acf-field-5585317d9b50b">
                                        <div class="acf-input">
                                            <div class="acf-input-wrap">
                                                <input type="text" id="" name="listIngredient[${indexCT - 1}].Name" />
                                            </div>
                                        </div>
                                    </td>

                                    <td class="acf-field acf-field-text acf-field-558531f69b50c">
                                        <div class="acf-input">
                                            <div class="acf-input-wrap">
                                                <input type="text" id="" name="listIngredient[${indexCT - 1
                }].Amount" />
                                            </div>
                                        </div>
                                    </td>
                                    <td class="acf-row-handle remove">
                                        <a class="acf-icon -plus small acf-js-tooltip" href="#" data-event="add-row" title="Add row"></a>
                                        <a class="acf-icon -minus small acf-js-tooltip" href="#" data-event="remove-row" title="Remove row"></a>
                                    </td>
                                </tr>`;
            $('.list-ct').prepend(contentCT);
        });

        var indexStep = 1;
        $('#btn-add-step').click(function() {
            indexStep++;
            var contentStep = `<tr class="acf-row step">
                                        <td class="acf-row-handle order ui-sortable-handle">
                                            <input type="text" id="" name="listStep[${indexStep - 1}].Index" value="${
                indexStep}">
                                        </td>

                                        <td class="acf-fields">
                                            <div class="acf-field acf-field-textarea acf-field-5588b30c2df0d -collapsed-target" style="width: 50%" data-width="30" data-name="step_description" data-type="textarea">
                                                <div class="acf-label">
                                                    <label for="step_title">Title</label>
                                                </div>
                                                <div class="acf-input">
                                                    <input type="text" id="step_title" name="listStep[${indexStep - 1
                }].Title">
                                                </div>
                                            </div>
                                            <div class="acf-field acf-field-textarea acf-field-5588b30c2df0d -collapsed-target" style="width: 50%" data-width="30" data-name="step_description" data-type="textarea">
                                                <div class="acf-label">
                                                    <label for="image-step">Image</label>
                                                </div>
                                                <div class="acf-input">
                                                    <input type="text" id="image-step" name="listStep[${indexStep - 1
                }].ImagePath">
                                                </div>
                                            </div>

                                            <div class="acf-field acf-field-textarea acf-field-5588b30c2df0d -collapsed-target" data-name="step_description" data-type="textarea">
                                                <div class="acf-label">
                                                    <label for="step_description">Description</label>
                                                </div>
                                                <div class="acf-input">
                                                    <textarea id="step_description" name="listStep[${indexStep - 1}].Description" rows="4"></textarea>
                                                </div>
                                            </div>


                                        </td>
                                        <td class="acf-row-handle remove">
                                            <a class="acf-icon -plus small acf-js-tooltip" href="#" data-event="add-row" title="Add row"></a>
                                            <a class="acf-icon -minus small acf-js-tooltip" href="#" data-event="remove-row" title="Remove row"></a>
                                        </td>

                                    </tr>`;
            $('.list-step').prepend(contentStep);
        });
        })
    </script>
}
