
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="os-container top-bar-w">
    <div class="top-bar ">
        <ul class="bar-breadcrumbs">
            <li><a href="http://neptune.pinsupreme.com">Home</a></li>
            <li>Categories</li>
        </ul>
        <ul class="bar-social" style="">
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li>
        </ul>
    </div>
</div>

<div class="os-container">
    <div class="page-intro-header with-background" style="background-image:url(/Content/assets/wp-content/uploads/2015/09/pattern_21-500x500.png); background-repeat: repeat; background-position: top left; ">
        <h2>Categories</h2>
    </div>
</div>

<div class="os-container">

    <div class="page-w">
        <div class="page-content">
            <article id="page-415" class="post-415 page type-page status-publish has-post-thumbnail hentry">
                <div class="category-tiles columns-3">


                    <a href="http://neptune.pinsupreme.com/?taxonomy=product_type&amp;term=grouped" class="category-tile" style="background-image:url(/Content/assets/wp-content/uploads/2015/07/recipe17.jpg); background-repeat: repeat; background-position: center center;  background-size: cover;">
                        <div class="category-fader"></div>
                        <h3>Chicken</h3>
                    </a>
                    <a href="http://neptune.pinsupreme.com/?taxonomy=product_type&amp;term=variable" class="category-tile" style="background-image:url(/Content/assets/wp-content/uploads/2015/07/recipe6.jpg); background-repeat: repeat; background-position: center center;  background-size: cover;">
                        <div class="category-fader"></div>
                        <h3>Pizza</h3>
                    </a>
                    <a href="http://neptune.pinsupreme.com/?taxonomy=product_visibility&amp;term=exclude-from-catalog" class="category-tile" style="background-image:url(/Content/assets/wp-content/uploads/2015/07/recipe14.jpg); background-repeat: repeat; background-position: center center;  background-size: cover;">
                        <div class="category-fader"></div>
                        <h3>Fast Food</h3>
                    </a>
                    <a href="http://neptune.pinsupreme.com/?taxonomy=product_type&amp;term=external" class="category-tile" style="background-image:url(/Content/assets/wp-content/uploads/2015/07/step8.jpg); background-repeat: repeat; background-position: center center;  background-size: cover;">
                        <div class="category-fader"></div>
                        <h3>Deserts</h3>
                    </a>
                    <a href="http://neptune.pinsupreme.com/?taxonomy=product_visibility&amp;term=featured" class="category-tile" style="background-image:url(/Content/assets/wp-content/uploads/2015/07/post1.jpg); background-repeat: repeat; background-position: center center;  background-size: cover;">
                        <div class="category-fader"></div>
                        <h3>Salads</h3>
                    </a>
                    <a href="http://neptune.pinsupreme.com/?taxonomy=product_visibility&amp;term=outofstock" class="category-tile" style="background-image:url(/Content/assets/wp-content/uploads/2015/07/recipe12.jpg); background-repeat: repeat; background-position: center center;  background-size: cover;">
                        <div class="category-fader"></div>
                        <h3>Soups</h3>
                    </a>
                    <a href="http://neptune.pinsupreme.com/?taxonomy=product_visibility&amp;term=outofstock" class="category-tile" style="background-image:url(/Content/assets/wp-content/uploads/2015/07/recipe7.jpg); background-repeat: repeat; background-position: center center;  background-size: cover;">
                        <div class="category-fader"></div>
                        <h3>Sushi</h3>
                    </a>
                    <a href="http://neptune.pinsupreme.com/?taxonomy=product_visibility&amp;term=featured" class="category-tile" style="background-image:url(/Content/assets/wp-content/uploads/2015/07/recipe10.jpg); background-repeat: repeat; background-position: center center;  background-size: cover;">
                        <div class="category-fader"></div>
                        <h3>Baked Food</h3>
                    </a>
                    <a href="http://neptune.pinsupreme.com/?taxonomy=product_visibility&amp;term=featured" class="category-tile" style="background-image:url(/Content/assets/wp-content/uploads/2015/08/bg1.jpg); background-repeat: repeat; background-position: center center;  background-size: cover;">
                        <div class="category-fader"></div>
                        <h3>Vegan</h3>
                    </a>
                </div>
            </article>
        </div>
    </div>

</div>

