@model IEnumerable<E_ProjectSem3.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="os-container top-bar-w">
    <div class="top-bar ">
        <ul class="bar-breadcrumbs">
            <li><a href="http://neptune.pinsupreme.com">Home</a></li>
            <li>Categories</li>
        </ul>
        <ul class="bar-social" style="">
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li>
        </ul>
    </div>
</div>

<div class="os-container">
    <div class="page-intro-header with-background" style="background-image:url(/Content/assets/wp-content/uploads/2015/09/pattern_21-500x500.png); background-repeat: repeat; background-position: top left; ">
        <h2>Categories</h2>
    </div>
</div>

<div class="os-container">

    <div class="page-w">
        <div class="page-content">
            <article id="page-415" class="post-415 page type-page status-publish has-post-thumbnail hentry">
                <div class="category-tiles columns-3">

                    @foreach (var cate in Model)
                    {
                        <a href="@Url.Action("Recipes","Home",new{category = cate.Id})" class="category-tile" style="background-image:url(@(cate.Image)); background-repeat: repeat; background-position: center center;  background-size: cover;">
                            <div class="category-fader"></div>
                            <h3>@(cate.Name)</h3>
                        </a>
                    }


                </div>
            </article>
        </div>
    </div>

</div>

