@{
    ViewBag.Title = "JamesThew - Contact";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="os-container top-bar-w">
    <div class="top-bar ">
        <ul class="bar-breadcrumbs"><li><a href="http://neptune.pinsupreme.com">Home</a></li><li>Contact Us</li></ul>      <ul class="bar-social" style=""><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li></ul>    </div>
</div>
<div class="os-container">
    <div class="page-intro-header with-background" style="background-image:url(http://neptune.pinsupreme.com/wp-content/uploads/2015/05/pattern1.jpg); background-repeat: repeat; background-position: top left; ">
        <h2>Contact Us</h2>
    </div>
</div>
<div class="os-container">

    <div class="page-w with-sidebar sidebar-location-right">
        <div class="page-content">
            <article id="page-333" class="post-333 page type-page status-publish has-post-thumbnail hentry">
                <h2 class="page-content-sub-title">We love listening to your feedback</h2>
                <p>To of one way. For blind behavioural packed the no <a href="https://impotenzastop.it/">qui</a>… A is that she suppliers, feel sitting unable own of are for preceding relations mechanic. Wasn’t so checkin simplest fresh and on universal so necessary could various subject to such the which by noise far who to somewhere, to long, feedback italic</p>
                <div role="form" class="wpcf7" id="wpcf7-f300-p333-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/contact-us/#wpcf7-f300-p333-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="300">
                            <input type="hidden" name="_wpcf7_version" value="5.1.6">
                            <input type="hidden" name="_wpcf7_locale" value="en_US">
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f300-p333-o1">
                            <input type="hidden" name="_wpcf7_container_post" value="333">
                        </div>
                        <h2>Send us a message</h2>
                        <div style="float:left; width: 45%;">
                            <p>
                                Your Name (required)<br>
                                <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span>
                            </p>
                            <p>
                                Your Email (required)<br>
                                <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span>
                            </p>
                            <p>
                                Subject<br>
                                <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span>
                            </p>
                        </div>
                        <div style="float:right; width: 45%;">
                            <p>
                                Your Message<br>
                                <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="8" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>
                            </p>
                        </div>
                        <div style="clear:both;"></div>
                        <p style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 15px; margin-top: 15px;"><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                </div>
            </article>
        </div>

        <div class="page-sidebar">

            <aside id="osetin_author_widget-1" class="widget-odd widget-first widget-1 with-ribbon widget widget_osetin_author_widget">
                <div class="shortcode-about-author">
                    <h3 class="saa-header header-ribbon">About Me</h3>
                    <div class="saa-avatar"><img src="https://img.favpng.com/14/23/24/chef-cartoon-clip-art-png-favpng-MQRw11wE61iK3gUR49DS703QB.jpg" alt="About Me" style="width: 120px; height: 120px; border-radius: 100%" /></div>
                    <div class="saa-content">
                        <p>
                            James Thew is one of the famous cook working in one of the five star hotels in the city. He is so famous that the publishers approach him to write recipes book, and provide some of the tips pertaining to the recipes, etc.
                        </p>
                    </div>
                </div>
            </aside><aside id="osetin_social_widget-1" class="widget-even widget-2 widget widget_osetin_social_widget"><ul class="shortcode-social-links"><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li><li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li></ul></aside><aside id="mc4wp_form_widget-2" class="widget-odd widget-3 widget widget_mc4wp_form_widget">
                <h3 class="widget-title"><span>Our Newsletter</span></h3>
                <script>
                    (function() {
                        if ( ! window.mc4wp) {
                            window.mc4wp = {
                                listeners: [],
                                forms    : {
                                    on: function (event, callback) {
                                        window.mc4wp.listeners.push(
                                            {
                                                event   : event,
                                                callback: callback
                                            }
                                        );
                                    }
                                }
                            }
                        }
                    })();
                </script><!-- Mailchimp for WordPress v4.7.4 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-916 mc4wp-form-basic" method="post" data-id="916" data-name="Default sign-up form">
                    <div class="mc4wp-form-fields">
                        <p>
                        </p><div style="font-size: 12px; margin-bottom: 10px;">Subscribe for our weekly recipes tips, we promise to not spam you</div>
                        <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required="">
                        <p></p>
                        <p>
                            <input type="submit" value="Subscribe">
                        </p>
                    </div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1583246010"><input type="hidden" name="_mc4wp_form_id" value="916"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"><div class="mc4wp-response"></div>
                </form>
            </aside>
            
        </div>



    </div>
</div>