
@{
    ViewBag.Title = "MemberShip";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link href="~/Content/assets/membership.css" rel="stylesheet" />
<div class="os-container top-bar-w">
    <div class="top-bar ">
        <ul class="bar-breadcrumbs">
            <li><a href="http://neptune.pinsupreme.com">Home</a></li>
            <li>Membership</li>
        </ul>
        <ul class="bar-social" style="">
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li>
        </ul>
    </div>
</div>

<div class="os-container">
    <div class="page-intro-header with-background" style="background-image: url(http://neptune.pinsupreme.com/wp-content/uploads/2015/09/pattern_06-500x5001.png); background-repeat: repeat; background-position: top left; ">
        <h2>Membership</h2>
    </div>
</div>

<div class="os-container">

    <div class="page-w with-sidebar sidebar-location-right">
        <div class="archive-posts masonry-grid-w magazine-v1" style="padding-right: 50px;">
            <div class="masonry-grid" data-layout-mode="fitRows">
                <div class="sticky-roll-w">
                    <div class="owl-carousel sticky-posts-owl-slider owl-theme owl-loaded">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1500px;">
                                <div class="owl-item active" style="width: 750px; margin-right: 0px;">
                                    <article class="archive-item any full_full_over post-202 osetin_recipe type-osetin_recipe status-publish format-standard has-post-thumbnail hentry category-salads tag-broccoli tag-corn tag-mushrooms recipe_feature-gluten-free recipe_feature-spicy recipe_feature-vegan recipe_ingredient-chicken-breast recipe_ingredient-drained-capers-patted-dry recipe_ingredient-fresh-broccoli recipe_ingredient-ground-beef recipe_ingredient-potatoes recipe_cuisine-french">
                                        <div class="archive-item-i">
                                            <div class="extra-styling-box"></div>
                                            <div class="archive-item-media">
                                                <a href="http://neptune.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/" class="archive-item-media-thumbnail fader-activator" style="background-image:url(http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-875x1300.jpg); background-size: cover;">
                                                    <span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                                                </a>
                                            </div>

                                            <div class="archive-item-content archive-item-conten-left">
                                                <header class="archive-item-header">
                                                    <h3 class="entry-title">
                                                        <a href="#" rel="bookmark">Silver member</a>
                                                    </h3>
                                                </header>
                                                <div class="archive-item-content-text">
                                                    Purchase this level to have access to all courses and classes for:
                                                    <p>1 Month(s) - $10</p>
                                                </div>
                                                <div class="archive-item-deep-meta">
                                                    <div class="archive-item-read-more-btn">
                                                        <button type="button" class="pay-submit" style="margin-bottom: 10px;">Pay Using Paypal</button>

                                                        <form action="@Url.Action("VnPayMembership","Membership")" method="post">
                                                            <input type="hidden" name="amount" value="10" />
                                                            <input type="hidden" name="description" value="Silver" />

                                                            <button type="submit" class="pay-submit" style="position: relative;">
                                                                <img src="https://vnpayment.vnpay.vn/Resources/website/images/logo.png" alt="VnPay" style="width: 25px; position: absolute;" />
                                                                Pay Using VnPay
                                                            </button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="archive-item-content">
                                                <header class="archive-item-header">
                                                    <h3 class="entry-title">
                                                        <a href="#" rel="bookmark">Gold member</a>
                                                    </h3>
                                                </header>
                                                <div class="archive-item-content-text">
                                                    Purchase this level to have access to all courses and classes for:
                                                    <p>1 Year(s) - $100</p>
                                                </div>
                                                <div class="archive-item-deep-meta">

                                                    <div class="archive-item-read-more-btn">
                                                        <button type="button" class="pay-submit" style="margin-bottom: 10px;">Pay Using Paypal</button>

                                                        <form action="@Url.Action("VnPayMembership","Membership")" method="post">
                                                            <input type="hidden" name="amount" value="100"/>
                                                            <input type="hidden" name="description" value="Gold"/>
                                                            
                                                            <button type="submit" class="pay-submit" style="position: relative;">
                                                                <img src="https://vnpayment.vnpay.vn/Resources/website/images/logo.png" alt="VnPay" style="width: 25px; position: absolute;" />
                                                                Pay Using VnPay
                                                            </button>
                                                        </form>

                                                    </div>

                                                    
                                                    
                                                    

                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="page-sidebar">

            <aside id="osetin_author_widget-1" class="widget-odd widget-first widget-1 with-ribbon widget widget_osetin_author_widget">
                <div class="shortcode-about-author">
                    <h3 class="saa-header header-ribbon">About Me</h3>
                    <div class="saa-avatar"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2016/12/alba.png" alt="About Me" /></div>
                    <div class="saa-content">
                        <p>I love cooking and blogging. Using a fork, break salmon. Halve reserved potatoes and eggs crosswise.</p>
                    </div>
                </div>
            </aside>
            <aside id="osetin_social_widget-1" class="widget-even widget-2 widget widget_osetin_social_widget">
                <ul class="shortcode-social-links">
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li>
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li>
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li>
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li>
                </ul>
            </aside>
            <aside id="mc4wp_form_widget-2" class="widget-odd widget-3 widget widget_mc4wp_form_widget">
                <h3 class="widget-title"><span>Our Newsletter</span></h3>
                <script>
                    (function () {
                        if (!window.mc4wp) {
                            window.mc4wp = {
                                listeners: [],
                                forms: {
                                    on: function (event, callback) {
                                        window.mc4wp.listeners.push({
                                            event: event,
                                            callback: callback
                                        });
                                    }
                                }
                            }
                        }
                    })();
                </script>
                <!-- Mailchimp for WordPress v4.7.4 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-916 mc4wp-form-basic" method="post" data-id="916" data-name="Default sign-up form">
                    <div class="mc4wp-form-fields">
                        <p>
                            <div style="font-size: 12px; margin-bottom: 10px;">Subscribe for our weekly recipes tips, we promise to not spam you</div>
                            <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required />
                        </p>
                        <p>
                            <input type="submit" value="Subscribe">
                        </p>
                    </div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1581518059" /><input type="hidden" name="_mc4wp_form_id" value="916" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                    <div class="mc4wp-response"></div>
                </form>
                <!-- / Mailchimp for WordPress Plugin -->
            </aside>
            <aside id="osetin_categories_widget-1" class="widget-even widget-4 with-ribbon widget widget_osetin_categories_widget">
                <h3 class="widget-title"><span>Categories</span></h3>
                <div class="shortcode-categories-icons">
                    <table>
                        <tr>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/category/chicken/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/09/356.png" alt="Chicken" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/category/chicken/">Chicken</a></h3>
                                </div>
                            </td>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/category/fast-food/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/09/341.png" alt="Fast Food" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/category/fast-food/">Fast Food</a></h3>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/category/fish/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/09/349.png" alt="Fish" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/category/fish/">Fish</a></h3>
                                </div>
                            </td>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/category/pizza/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/09/306.png" alt="Pizza" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/category/pizza/">Pizza</a></h3>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/category/salads/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/09/45.png" alt="Salads" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/category/salads/">Salads</a></h3>
                                </div>
                            </td>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/category/soups/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/09/85.png" alt="Soups" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/category/soups/">Soups</a></h3>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </aside>
            <aside id="widget_tptn_pop-1" class="widget-odd widget-5 with-ribbon widget tptn_posts_list_widget">
                <h3 class="widget-title"><span>Popular Recipes</span></h3>
                <div class="tptn_posts  tptn_posts_widget tptn_posts_widget1">
                    <ul>
                        <li>
                            <a href="http://neptune.pinsupreme.com/recipe/gluten-free-beef-lasagne/" class="tptn_link"><img width="150" height="150" src="http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-150x150.jpg" class="tptn_thumb tptn_featured" alt="Classic tomato salsa with basil" title="Classic tomato salsa with basil" srcset="http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                            <span class="tptn_after_thumb"><a href="http://neptune.pinsupreme.com/recipe/gluten-free-beef-lasagne/" class="tptn_link"><span class="tptn_title">Classic tomato salsa with basil</span></a><span class="tptn_excerpt"> An old-school dish that everyone loves, this gluten-free lasagne recipe&hellip;</span></span>
                        </li>
                        <li>
                            <a href="http://neptune.pinsupreme.com/recipe/steamed-broccoli-with-vinegar-souce/" class="tptn_link"><img width="150" height="150" src="http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe17-150x150.jpg" class="tptn_thumb tptn_featured" alt="Steamed broccoli with vinegar" title="Steamed broccoli with vinegar" srcset="http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe17-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe17-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe17-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe17-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe17-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                            <span class="tptn_after_thumb"><a href="http://neptune.pinsupreme.com/recipe/steamed-broccoli-with-vinegar-souce/" class="tptn_link"><span class="tptn_title">Steamed broccoli with vinegar</span></a><span class="tptn_excerpt"> Put your wine, shallot, herbs and peppercorns into a small&hellip;</span></span>
                        </li>
                        <li>
                            <a href="http://neptune.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/" class="tptn_link"><img width="150" height="150" src="http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-150x150.jpg" class="tptn_thumb tptn_featured" alt="Squash soup with Parmesan croutons" title="Squash soup with Parmesan croutons" srcset="http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                            <span class="tptn_after_thumb"><a href="http://neptune.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/" class="tptn_link"><span class="tptn_title">Squash soup with Parmesan croutons</span></a><span class="tptn_excerpt"> Put a very large saucepan on a medium heat and&hellip;</span></span>
                        </li>
                    </ul>
                    <div class="tptn_clear"></div>
                </div>
            </aside>
            <aside id="osetin_cuisines_widget-1" class="widget-even widget-6 with-ribbon widget widget_osetin_cuisines_widget">
                <h3 class="widget-title"><span>Popular Cuisines</span></h3>
                <div class="shortcode-categories-icons">
                    <table>
                        <tr>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/cuisine/brazilian/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/br.png" alt="Brazilian" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/cuisine/brazilian/">Brazilian</a></h3>
                                </div>
                            </td>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/cuisine/french/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/fr.png" alt="French" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/cuisine/french/">French</a></h3>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/cuisine/italian/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/it.png" alt="Italian" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/cuisine/italian/">Italian</a></h3>
                                </div>
                            </td>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/cuisine/mexican/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/mx.png" alt="Mexican" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/cuisine/mexican/">Mexican</a></h3>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </aside>
            <aside id="text-2" class="widget-odd widget-7 widget widget_text">
                <div class="textwidget"><a href="/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/09/magic_placeholder_2.jpg" alt="magic box" /></a></div>
            </aside>
            <aside id="tag_cloud-1" class="widget-even widget-last widget-8 with-ribbon widget widget_tag_cloud">
                <h3 class="widget-title"><span>Popular Tags</span></h3>
                <div class="tagcloud">
                    <a href="http://neptune.pinsupreme.com/tag/beef/" class="tag-cloud-link tag-link-22 tag-link-position-1" style="font-size: 15.777777777778pt;" aria-label="beef (4 items)">beef</a>
                    <a href="http://neptune.pinsupreme.com/tag/broccoli/" class="tag-cloud-link tag-link-23 tag-link-position-2" style="font-size: 15.777777777778pt;" aria-label="broccoli (4 items)">broccoli</a>
                    <a href="http://neptune.pinsupreme.com/tag/cheese/" class="tag-cloud-link tag-link-24 tag-link-position-3" style="font-size: 15.777777777778pt;" aria-label="cheese (4 items)">cheese</a>
                    <a href="http://neptune.pinsupreme.com/tag/chicken/" class="tag-cloud-link tag-link-25 tag-link-position-4" style="font-size: 15.777777777778pt;" aria-label="chicken (4 items)">chicken</a>
                    <a href="http://neptune.pinsupreme.com/tag/corn/" class="tag-cloud-link tag-link-26 tag-link-position-5" style="font-size: 15.777777777778pt;" aria-label="corn (4 items)">corn</a>
                    <a href="http://neptune.pinsupreme.com/tag/hot/" class="tag-cloud-link tag-link-27 tag-link-position-6" style="font-size: 22pt;" aria-label="hot (5 items)">hot</a>
                    <a href="http://neptune.pinsupreme.com/tag/mushrooms/" class="tag-cloud-link tag-link-28 tag-link-position-7" style="font-size: 15.777777777778pt;" aria-label="mushrooms (4 items)">mushrooms</a>
                    <a href="http://neptune.pinsupreme.com/tag/quick/" class="tag-cloud-link tag-link-29 tag-link-position-8" style="font-size: 15.777777777778pt;" aria-label="quick (4 items)">quick</a>
                    <a href="http://neptune.pinsupreme.com/tag/spicy/" class="tag-cloud-link tag-link-30 tag-link-position-9" style="font-size: 8pt;" aria-label="spicy (3 items)">spicy</a>
                    <a href="http://neptune.pinsupreme.com/tag/sushi/" class="tag-cloud-link tag-link-31 tag-link-position-10" style="font-size: 8pt;" aria-label="sushi (3 items)">sushi</a>
                    <a href="http://neptune.pinsupreme.com/tag/whole-grains/" class="tag-cloud-link tag-link-32 tag-link-position-11" style="font-size: 15.777777777778pt;" aria-label="whole grains (4 items)">whole grains</a>
                </div>
            </aside>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

