
@{
    ViewBag.Title = "JamesThew - NotFound";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="os-container">

    
    <div class="page-w bordered" style="text-align: center; padding-top: 100px; padding-bottom: 100px;">
        <div class="page-content">
            <article>
                <div class="not-found-icon"><i class="os-icon os-icon-frown-o"></i></div>
                <h1 class="page-title">No results found</h1>
                <p>Make sure the url is spelled correctly and try again.</p>
            </article>
        </div>
    </div>

</div>

