@model E_ProjectSem3.Models.Recipe
@{
    ViewBag.Title = "RecipeDetail";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="os-container top-bar-w">
    <div class="top-bar">
        <ul class="bar-breadcrumbs">
            <li><a href="http://neptune.pinsupreme.com">Home</a></li>
            <li><a href="http://neptune.pinsupreme.com/category/salads/" title="View all posts in Salads">Salads</a></li>
            <li>Squash soup with Parmesan croutons</li>
        </ul>
        <ul class="bar-social" style="">
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li>
        </ul>
    </div>
</div>
<div class="recipe-floating-box">
    <div class="cooking-mode-btn-w">
        <a href="#" class="cooking-mode-toggler cooking-mode-btn"><i class="os-icon os-icon-ui-34"></i> <span>Start Reading Mode</span></a>
    </div>
    <div class="print-share-recipe-btn-w">
        <a href="#" class="print-recipe-btn">
            <i class="os-icon os-icon-tech-11"></i>
            <span>Print</span>
        </a>
        <a href="#" class="share-recipe-btn">
            <i class="os-icon os-icon-ui-35"></i>
            <span>Share</span>
        </a>
    </div>
    <div class="timer-w">
        <i class="os-icon os-icon-clock2"></i>
        <div class="timer-counter"></div>
        <button id="pause-resume-timer-btn" data-label-resume="Resume" data-label-pause="Pause">Pause</button>
        <input id="timer-minutes" name="timer-minutes" type="text" value="10">
        <label id="timer-minutes-label" for="timer-minutes">min</label>
        <button id="stop-timer-btn" data-label-stop="Stop" data-label-start="Start Timer">Stop</button>
        <button id="start-timer-btn">Start Timer</button>
        <audio id="timer-alarm-media">
            <source src="~/Content/assets/wp-content/themes/neptune-by-osetin/assets/audio/ticktac.mp3" type="audio/mpeg" />
            <source src="~/Content/assets/wp-content/themes/neptune-by-osetin/assets/audio/ticktac.ogg" type="audio/ogg" />
        </audio>
    </div>
    <div class="thumbs-votes-w">


        <div id="vote_box" data-voting-in-progress="no">
            <a class="user_vote_like" data-nonce="51db9a9cde" data-post_id="202" href="#">
                <i class="os-icon os-icon-ui-05"></i>
                <span id="vote_like_counter" data-votes="118" data-vote-status=""> 118 </span>
            </a>
            <a class="rotated user_vote_dislike" data-nonce="51db9a9cde" data-post_id="202" href="#">
                <i class="os-icon os-icon-ui-06"></i>
                <span id="vote_dislike_counter" data-votes="19" data-vote-status="">19</span>
            </a>
            <span style="display:none;" id="user_vote_label" data-loading-label=Loading… data-label=Vote>Vote</span>
        </div>
    </div>
    <div class="add-to-meal-plan-btn-w"><a href="#" class="trigger-add-to-meal-plan add-to-mean-plan-btn" data-nonce="fa093960ea" data-post-id="202"><i class="mp-icon-ui-22"></i><span>Add to Meal Plan</span></a></div>
</div>
<div class="single-panel os-container">
    <div class="single-panel-details move-on-scroll">
        <div class="single-panel-details-i">
            <div class="single-main-media">
                <div class="single-main-media-image-w active fader-activator  osetin-lightbox-trigger" data-lightbox-caption="Squash soup with Parmesan croutons" data-lightbox-img-src="~/Content/assets/wp-content/uploads/2015/06/recipe3-875x1300.jpg">
                    <span class="image-fader lighter"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                    <img class="" src="@(Model.FeaturedImage)" alt="Squash soup with Parmesan croutons" />
                </div>
            </div>
            <div class="side-meta-box">
                <ul>
                    <li class="single-meta-share">
                        <a href="#" class="post-control-share">
                            <i class="os-icon os-icon-ui-35"></i>
                            <span>Share</span>
                        </a>
                    </li>
                    <li class="single-meta-views"><span>2,301 Views</span></li>
                    <li class="single-meta-likes">
                        <a href="#" class="slide-button slide-like-button osetin-vote-trigger osetin-vote-not-voted" data-has-voted-label="Liked" data-not-voted-label="Like" data-post-id="202" data-vote-action="vote" data-votes-count="211">
                            <span class="slide-button-i">
                                <i class="os-icon os-icon-ui-03"></i>
                                <span class="slide-button-label osetin-vote-action-label">
                                    Like
                                </span>
                                <span class="slide-button-sub-label osetin-vote-count ">
                                    211
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="post-share-box">
                <div class="psb-close"><i class="os-icon os-icon-thin-close-round"></i></div>
                <h3 class="post-share-header">Share it on your social network:</h3>
                <div class="psb-links">
                    <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fpluto.pinsupreme.com%2Frecipe%2Fsquash-soup-with-parmesan-croutons%2F" target="_blank" class="psb-link psb-facebook"><i class="os-icon os-icon-facebook"></i></a>
                    <a href="http://twitter.com/share?url=http://pluto.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/&amp;text=++Squash+soup+with+Parmesan+croutons" target="_blank" class="psb-link psb-twitter"><i class="os-icon os-icon-twitter"></i></a>
                    <a href="//www.pinterest.com/pin/create/button/?url=http://pluto.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/&#038;media=http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3.jpg&#038;description=%20%20Squash%20soup%20with%20Parmesan%20croutons"
                       target="_blank" class="psb-link psb-pinterest"><i class="os-icon os-icon-pinterest"></i></a>
                    <a href="mailto:?Subject=  Squash soup with Parmesan croutons&amp;Body=%20http://pluto.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/" target="_blank" class="psb-link psb-mail"><i class="os-icon os-icon-basic-mail-send"></i></a>
                </div>
                <div class="psb-url">
                    <div class="psb-url-heading">Or you can just copy and share this url</div>
                    <input type="text" class="psb-url-input" value="http://pluto.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/">
                </div>
            </div>
            <div class="single-recipe-ingredients-nutritions">

                <div class="single-ingredients hidden-on-mobile">
                    <div class="close-btn"><i class="os-icon os-icon-plus"></i></div>
                    <h3><i class="os-icon os-icon-thin-paper-holes-text"></i> Ingredients</h3>

                    <div class="ingredient-serves">
                        <div class="ingredient-serves-label">Adjust Servings:</div>
                        <div class="servings-adjuster-control">
                            <div class="ingredient-serves-decr"><i class="os-icon os-icon-basic2-273_remove_delete_minus"></i></div>
                            <input class="ingredient-serves-num" type="text" data-initial-service-num="1" data-current-serves-num="1" value="1" />
                            <div class="ingredient-serves-incr"><i class="os-icon os-icon-basic2-272_add_new_plus"></i></div>
                        </div>
                    </div>
                    <table class="ingredients-table">
                        <tr>
                            <td class="ingredient-action">
                                <span class="ingredient-mark-icon"><i class="os-icon os-icon-circle-o"></i></span>
                            </td>
                            <td>
                                <span class="ingredient-amount" data-initial-amount="100g of">100g of</span>
                                <span class="ingredient-name">Blue Cheese</span>

                                <span class="ingredient-info-icon"><i class="os-icon os-icon-info-round"></i><span class="ingredient-info-popup">It should be raw, do not cook it</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="ingredient-action">
                                <span class="ingredient-mark-icon"><i class="os-icon os-icon-circle-o"></i></span>
                            </td>
                            <td>
                                <span class="ingredient-amount" data-initial-amount="1 pound of">1 pound of</span>
                                <span class="ingredient-name"><a href="http://neptune.pinsupreme.com/ingredient/fresh-broccoli/" target="_blank">Fresh Broccoli</a></span>

                            </td>
                        </tr>
                        <tr>
                            <td class="ingredient-action">
                                <span class="ingredient-mark-icon"><i class="os-icon os-icon-circle-o"></i></span>
                            </td>
                            <td>
                                <span class="ingredient-amount" data-initial-amount="2 pieces of">2 pieces of</span>
                                <span class="ingredient-name">Pork Chops</span>

                                <span class="ingredient-info-icon"><i class="os-icon os-icon-info-round"></i><span class="ingredient-info-popup">It should be raw, do not cook it</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="ingredient-action">
                                <span class="ingredient-mark-icon"><i class="os-icon os-icon-circle-o"></i></span>
                            </td>
                            <td>
                                <span class="ingredient-amount" data-initial-amount="100g of">100g of</span>
                                <span class="ingredient-name">Raw Walnuts</span>

                            </td>
                        </tr>
                        <tr>
                            <td class="ingredient-action">
                                <span class="ingredient-mark-icon"><i class="os-icon os-icon-circle-o"></i></span>
                            </td>
                            <td>
                                <span class="ingredient-amount" data-initial-amount="2">2</span>
                                <span class="ingredient-name">Honey</span>

                            </td>
                        </tr>
                        <tr>
                            <td class="ingredient-action">
                                <span class="ingredient-mark-icon"><i class="os-icon os-icon-circle-o"></i></span>
                            </td>
                            <td>
                                <span class="ingredient-amount" data-initial-amount="150g of">150g of</span>
                                <span class="ingredient-name">Fresh Rosemary</span>

                                <span class="ingredient-info-icon"><i class="os-icon os-icon-info-round"></i><span class="ingredient-info-popup">It should be raw, do not cook it</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="ingredient-heading">For Dressing</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ingredient-action">
                                <span class="ingredient-mark-icon"><i class="os-icon os-icon-circle-o"></i></span>
                            </td>
                            <td>
                                <span class="ingredient-amount" data-initial-amount="3 pieces of">3 pieces of</span>
                                <span class="ingredient-name"><a href="http://neptune.pinsupreme.com/ingredient/chicken-breast/" target="_blank">Chicken Breast</a></span>

                            </td>
                        </tr>
                        <tr>
                            <td class="ingredient-action">
                                <span class="ingredient-mark-icon"><i class="os-icon os-icon-circle-o"></i></span>
                            </td>
                            <td>
                                <span class="ingredient-amount" data-initial-amount="2lbs of">2lbs of</span>
                                <span class="ingredient-name"><a href="http://neptune.pinsupreme.com/ingredient/drained-capers-patted-dry/" target="_blank">Drained capers patted dry</a></span>

                            </td>
                        </tr>
                        <tr>
                            <td class="ingredient-action">
                                <span class="ingredient-mark-icon"><i class="os-icon os-icon-circle-o"></i></span>
                            </td>
                            <td>
                                <span class="ingredient-amount" data-initial-amount="1 box of">1 box of</span>
                                <span class="ingredient-name"><a href="http://neptune.pinsupreme.com/ingredient/ground-beef/" target="_blank">Ground Beef</a></span>

                                <span class="ingredient-info-icon"><i class="os-icon os-icon-info-round"></i><span class="ingredient-info-popup">It should be raw, do not cook it</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="ingredient-action">
                                <span class="ingredient-mark-icon"><i class="os-icon os-icon-circle-o"></i></span>
                            </td>
                            <td>
                                <span class="ingredient-amount" data-initial-amount="200g of">200g of</span>
                                <span class="ingredient-name"><a href="http://neptune.pinsupreme.com/ingredient/potatoes/" target="_blank">Potatoes</a></span>

                            </td>
                        </tr>
                    </table>
                </div>


                <div class="single-nutritions hidden-on-mobile">
                    <div class="close-btn"><i class="os-icon os-icon-plus"></i></div>
                    <h3><i class="os-icon os-icon-thin-info"></i> Nutritional information</h3>
                    <div class="single-nutritions-list">
                        <div class="single-nutrition">
                            <div class="single-nutrition-value">20g</div>
                            <div class="single-nutrition-name">Fat</div>
                        </div>
                        <div class="single-nutrition">
                            <div class="single-nutrition-value">10g</div>
                            <div class="single-nutrition-name">Protein</div>
                        </div>
                        <div class="single-nutrition">
                            <div class="single-nutrition-value">5g</div>
                            <div class="single-nutrition-name">Carbs</div>
                        </div>
                        <div class="single-nutrition">
                            <div class="single-nutrition-value">500</div>
                            <div class="single-nutrition-name">Calories</div>
                        </div>
                        <div class="single-nutrition">
                            <div class="single-nutrition-value">15g</div>
                            <div class="single-nutrition-name">Sugars</div>
                        </div>
                        <div class="single-nutrition">
                            <div class="single-nutrition-value">15g</div>
                            <div class="single-nutrition-name">Trans Fat</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-recipe-bookmark-box">
                <div class="close-btn"><i class="os-icon os-icon-plus"></i></div>
                <h3><i class="os-icon os-icon-thin-book-bookmarked"></i> Bookmark this recipe</h3>
                <div class="userpro-bm userpro-bm-nobottommargin-0 userpro-bm-notopmargin-0 userpro-bm-inline-0 userpro-bm-left userpro-bm-widgetized-0" style="width:100% !important;" data-add_new_collection="Add New Collection" data-default_collection="Default Collection"
                     data-new_collection_placeholder="Enter collection name..." data-dialog_unbookmarked="This content is no longer in your bookmarks." data-dialog_bookmarked="Thanks for bookmarking this content!" data-add_to_collection="Add to Collection"
                     data-remove_bookmark="Remove Bookmark" data-post_id="202" data-category_id="20" data-remove_bookmark_category="Remove Category Bookmark" data-bookmark_category="Bookmark Category">
                    <div class="userpro-bm-inner">
                        <div><img src="~/Content/assets/wp-content/plugins/userpro-bookmarks/img/heart.png" title="This post is bookmarked by 34 users." /> <span class="userpro-bm-count">34</span></div>
                        <div class="userpro-bm-list"><select class="chosen-select-collections" name="userpro_bm_collection" id="userpro_bm_collection" data-placeholder=""><option value="0" selected='selected'>Default Collection</option></select></div>
                        <div class="userpro-bm-act">
                            <div class="userpro-bm-btn-contain" style="width:45% !important;"><a href="#" class="userpro-bm-btn primary unbookmarked" data-action="bookmark">Add to Collection</a></div>
                            <div class="userpro-bm-btn-contain bm-right" style="width:45% !important;"><a href="#" class="userpro-bm-btn secondary" data-action="newcollection">New Collection</a></div>
                        </div>
                        <div class="userpro-clear"></div>
                    </div>
                </div>
                <div class="userpro-clear"></div>
            </div>
            <div class="sidebar-single-w">
                <aside id="text-5" class="widget-odd widget-last widget-first widget-1 widget widget_text">
                    <div class="textwidget"><a href="/"><img src="~/Content/assets/wp-content/uploads/2015/09/magic-placeholder5.png" /></a></div>
                </aside>
            </div>
        </div>
    </div>
    <div class="single-panel-main">

        <div class="single-title">
            <h1>@(Model.Title)</h1>
            <h3>Smooth, creamy and a little bit spicy</h3>
        </div>

        <div class="single-recipe-custom-taxonomies position-split">
            <div class="single-recipe-features">
                <div class="single-recipe-features-header">Features:</div>
                <ul>
                    <li><a href="http://neptune.pinsupreme.com/feature/gluten-free/"><span class="tooltip-trigger" data-tooltip-header="Gluten Free"><img src="~/Content/assets/wp-content/uploads/2015/09/415.png" alt="Gluten Free" /></span></a></li>
                    <li><a href="http://neptune.pinsupreme.com/feature/spicy/"><span class="tooltip-trigger" data-tooltip-header="Spicy"><img src="~/Content/assets/wp-content/uploads/2015/09/342.png" alt="Spicy" /></span></a></li>
                    <li><a href="http://neptune.pinsupreme.com/feature/vegan/"><span class="tooltip-trigger" data-tooltip-header="Vegan"><img src="~/Content/assets/wp-content/uploads/2015/09/263.png" alt="Vegan" /></span></a></li>
                </ul>
            </div>
            <div class="single-recipe-cuisines">
                <div class="single-recipe-cuisines-header">Cuisine:</div>
                <ul>
                    <li>
                        <a href="http://neptune.pinsupreme.com/cuisine/french/" class="single-recipe-cuisine-label-w tooltip-trigger" data-tooltip-header="French">
                            <span class="single-recipe-cuisine-label">French</span>
                            <span class="single-recipe-cuisine-image"><img src="~/Content/assets/wp-content/uploads/2015/11/fr.png" alt="French" /></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="quick-description-quote position-split">
            <p>This delicious butternut squash soup is a great base – try it with pasta or pearl barley thrown in</p>
        </div>
        <div class="single-meta">
            <ul>
                <li class="single-meta-cooking-time"><i class="os-icon os-icon-thin-clock-busy"></i> <span>@(Model.CookingMinute) min</span></li>
                <li class="single-meta-serves"><i class="os-icon os-icon-thin-serve"></i> <span>Serves 1</span></li>
                <li class="single-meta-difficulty"><i class="os-icon os-icon-thin-cook"></i> <span>Medium</span></li>
            </ul>
        </div>




        <div class="single-content" data-font-change-count="0">
            <div class="cooking-mode-close-btn-w">
                <a href="#" class="cooking-mode-toggler cooking-mode-close-btn"><i class="os-icon os-icon-thin-close-round"></i></a>
            </div>





            <div class="single-print-ingredients">
                <h2 class="bordered-title"><i class="os-icon os-icon-thin-paper-holes-text"></i> <span>Ingredients</span></h2>
                <ul>
                    <li>
                        <div class="print-ingredient">
                            <span class="ingredient-amount">100g of</span>
                            <div class="ingredient-print-note">It should be raw, do not cook it</div>
                        </div>
                    </li>
                    <li>
                        <div class="print-ingredient">
                            <span class="ingredient-amount">1 pound of</span>
                            <span class="ingredient-name">Fresh Broccoli</span>
                        </div>
                    </li>
                    <li>
                        <div class="print-ingredient">
                            <span class="ingredient-amount">2 pieces of</span>
                            <div class="ingredient-print-note">It should be raw, do not cook it</div>
                        </div>
                    </li>
                    <li>
                        <div class="print-ingredient">
                            <span class="ingredient-amount">100g of</span>
                        </div>
                    </li>
                    <li>
                        <div class="print-ingredient">
                            <span class="ingredient-amount">2</span>
                        </div>
                    </li>
                    <li>
                        <div class="print-ingredient">
                            <span class="ingredient-amount">150g of</span>
                            <div class="ingredient-print-note">It should be raw, do not cook it</div>
                        </div>
                    </li>
                    <li>
                        <h3>For Dressing</h3>
                    <li>
                        <div class="print-ingredient">
                            <span class="ingredient-amount">3 pieces of</span>
                            <span class="ingredient-name">Chicken Breast</span>
                        </div>
                    </li>
                    <li>
                        <div class="print-ingredient">
                            <span class="ingredient-amount">2lbs of</span>
                            <span class="ingredient-name">Drained capers patted dry</span>
                        </div>
                    </li>
                    <li>
                        <div class="print-ingredient">
                            <span class="ingredient-amount">1 box of</span>
                            <span class="ingredient-name">Ground Beef</span>
                            <div class="ingredient-print-note">It should be raw, do not cook it</div>
                        </div>
                    </li>
                    <li>
                        <div class="print-ingredient">
                            <span class="ingredient-amount">200g of</span>
                            <span class="ingredient-name">Potatoes</span>
                        </div>
                    </li>
                </ul>
            </div>



            <h2 class="bordered-title"><i class="os-icon os-icon-thin-paper-list"></i> <span>Directions</span></h2>
            <div class="single-content-self">
                <div class="single-sharing-box">
                    <div class="split-share">
                        <a href="mailto:?Subject=  Squash soup with Parmesan croutons&amp;Body=%20http://neptune.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/" target="_blank" class="archive-item-share-link aisl-mail"><i class="os-icon os-icon-mail"></i></a>
                        <a href="#" class="archive-item-share-link aisl-print"><i class="os-icon os-icon-printer"></i></a>
                        <a href="#" target="_blank" class="archive-item-share-link aisl-font"><i class="os-icon os-icon-font"></i></a>
                    </div>
                    <span>Share</span>
                    <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fneptune.pinsupreme.com%2Frecipe%2Fsquash-soup-with-parmesan-croutons%2F" target="_blank" class="archive-item-share-link aisl-facebook"><i class="os-icon os-icon-social-facebook"></i></a>
                    <a href="http://www.yummly.com/urb/verify?url=http://neptune.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/&#038;title=%20%20Squash%20soup%20with%20Parmesan%20croutons&#038;yumtype=button" target="_blank" class="archive-item-share-link aisl-linkedin"><img src="~/Content/assets/wp-content/themes/neptune-by-osetin/assets/img/yum-small.png" /></a>
                    <a href="http://twitter.com/share?url=http://neptune.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/&amp;text=++Squash+soup+with+Parmesan+croutons" target="_blank" class="archive-item-share-link aisl-twitter"><i class="os-icon os-icon-social-twitter"></i></a>
                    <a href="//www.pinterest.com/pin/create/button/?url=http://neptune.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/&#038;media=http://neptune.pinsupreme.com/wp-content/uploads/2015/06/recipe3.jpg&#038;description=%20%20Squash%20soup%20with%20Parmesan%20croutons"
                       data-pin-custom="true" target="_blank" class="archive-item-share-link aisl-pinterest"><i class="os-icon os-icon-social-pinterest"></i></a>
                    <a href="https://plus.google.com/share?url=http://neptune.pinsupreme.com/recipe/squash-soup-with-parmesan-croutons/" target="_blank" class="archive-item-share-link aisl-googleplus"><i class="os-icon os-icon-social-googleplus"></i></a>
                </div>
                <p>
                    @(Model.Content)
                </p>
            </div>


            <div class="single-steps">
                <h2 class="bordered-title"><span>Steps</span></h2>
                <table class="recipe-steps-table">
                    <tr class="single-step">
                        <td class="single-step-number">
                            <div class="single-step-number-i">
                                <div class="single-step-number-value">1</div>
                                <div class="single-step-control">
                                    <i class="os-icon os-icon-circle-o"></i>
                                    <div class="single-step-complete-label">Done</div>
                                </div>
                            </div>
                            <div class="single-step-duration"><i class="os-icon os-icon-clock"></i> 10 min</div>
                        </td>
                        <td class="single-step-description">
                            <div class="single-step-description-i">
                                <ul class="single-step-media single-media-1-image">
                                    <li>
                                        <a class="osetin-lightbox-trigger-step-images" href="~/Content/assets/wp-content/uploads/2015/07/step5-870x1300.jpg" data-lightbox-thumb-src="~/Content/assets/wp-content/uploads/2015/07/step5-400x400.jpg" data-lightbox-img-src="~/Content/assets/wp-content/uploads/2015/07/step5-870x1300.jpg">
                                            <img src="~/Content/assets/wp-content/uploads/2015/07/step5-685x1024.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                                <p>
                                    One sort shall the of live claim done the are them. To sublime decades designer to escape, don't kicked they each agreeable. Clearly, allowed of out clear what expected eager. The future I more are on because have
                                    to there, morals, stands statement display a support at evaluation it presented as film target he identification for he quite endeavours, floundering.
                                </p>
                                <div class="step-off-fader"></div>
                            </div>
                        </td>
                    </tr>
                    <tr class="single-step">
                        <td class="single-step-number">
                            <div class="single-step-number-i">
                                <div class="single-step-number-value">2</div>
                                <div class="single-step-control">
                                    <i class="os-icon os-icon-circle-o"></i>
                                    <div class="single-step-complete-label">Done</div>
                                </div>
                            </div>
                            <div class="single-step-duration"><i class="os-icon os-icon-clock"></i> 15 min</div>
                        </td>
                        <td class="single-step-description">
                            <div class="single-step-description-i">
                                <p>
                                    The slight planning brief the doctor one long literature couldn't ticking descriptions, she palace for are which the very once projects debt who voice come he be without finds experience the approach it self-interest,
                                    from the world while field knowing came before texts. Vows, the after a the to curiously.
                                </p>
                                <p>
                                    He not didn't go knowing make task. Readers led a world; Need character he copy. Of the clothes, nature, ask solitary that from kicked seven be of the which its the gilded okay. A so more of its boundless abandon
                                    o'clock been people. The bulk; To harmonics; Phase and volume briefs thought, set not from hesitated steadily was better set his young yes, involved. A the you prudently, didn't blue surely their he particular,
                                    on drawers. God position. His we this, do posterity history; Page value asking occupied cut time would create wanted in following so in you your pointing.
                                </p>
                                <div class="step-off-fader"></div>
                            </div>
                        </td>
                    </tr>
                    <tr class="single-step">
                        <td class="single-step-number">
                            <div class="single-step-number-i">
                                <div class="single-step-number-value">3</div>
                                <div class="single-step-control">
                                    <i class="os-icon os-icon-circle-o"></i>
                                    <div class="single-step-complete-label">Done</div>
                                </div>
                            </div>
                            <div class="single-step-duration"><i class="os-icon os-icon-clock"></i> 5 min</div>
                        </td>
                        <td class="single-step-description">
                            <h4 class="single-step-title">Making Dressing</h4>
                            <div class="single-step-description-i">
                                <ul class="single-step-media single-media-2-image">
                                    <li>
                                        <a class="osetin-lightbox-trigger-step-images" href="~/Content/assets/wp-content/uploads/2015/07/step4.jpg" data-lightbox-thumb-src="~/Content/assets/wp-content/uploads/2015/07/step4-400x400.jpg" data-lightbox-img-src="~/Content/assets/wp-content/uploads/2015/07/step4.jpg">
                                            <img src="~/Content/assets/wp-content/uploads/2015/07/step4-400x400.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="osetin-lightbox-trigger-step-images" href="~/Content/assets/wp-content/uploads/2015/07/step3-867x1300.jpg" data-lightbox-thumb-src="~/Content/assets/wp-content/uploads/2015/07/step3-400x400.jpg" data-lightbox-img-src="~/Content/assets/wp-content/uploads/2015/07/step3-867x1300.jpg">
                                            <img src="~/Content/assets/wp-content/uploads/2015/07/step3-400x400.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                                <p>
                                    Such their on another, it plot how lady entered theory in as and above of than arrive subjective first himself one eyes refinement my that can designer; But avoid derived through table ambushed trade, to of nonsense,
                                    feedback a this attached lots he emphasis on officers. The team- frequency have avoids what's self-interest there listed is this that, responded thousand on my or are indulged lots sovereignty. Even the to alphabet
                                    fantastic to ensure up large future remedies. Their stuffed they the in seemed even tuned nor a of his and any little did of nations big one have the.
                                </p>
                                <div class="step-off-fader"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="single-meta single-meta-at-bottom">
            <ul>
                <li class="social-bottom-comments">
                    <i class="os-icon os-icon-thin-comments"></i>
                    <a href="#singlePostComments"><span class="dsq-postid" data-dsqidentifier="202 http://local.neptune:8888/?post_type=osetin_recipe&#038;p=202">Comment</span></a>
                </li>
                <li class="social-links">
                    <a href="https://facebook.com" class=""><i class="os-icon os-icon-social-twitter"></i></a><a href="https://facebook.com" class=""><i class="os-icon os-icon-social-facebook"></i></a><a href="https://facebook.com" class=""><i class="os-icon os-icon-social-instagram"></i></a>
                </li>
                <li class="social-bottom-author">
                    <a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/"><img src="~/Content/assets/wp-content/plugins/userpro/img/default_avatar_male.jpg" width="40" height="40" alt="" class="default avatar" /></a> <a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/"
                                                                                                                                                                                                                                    title="Posts by Julia May" rel="author">Julia May</a>
                </li>
            </ul>
        </div>
        <div class="single-post-about-author">
            <div class="author-avatar-w">
                <a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/"><img src="~/Content/assets/wp-content/plugins/userpro/img/default_avatar_male.jpg" width="96" height="96" alt="" class="default avatar" /></a>
            </div>
            <div class="author-details">
                <h3 class="author-name"><a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/">Julia May</a></h3>
                <div style="display:none;">
                    <div class="post-date"><time class="entry-date updated" datetime="2015-07-23T21:02:33+00:00">Jul 23rd, 2015</time></div>
                    <div class="post-author"><strong class="author vcard"><a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/" class="url fn n" rel="author">Julia May</a></strong></div>
                </div>
                <p>I love cooking and blogging. Using a fork, break salmon. Halve reserved potatoes and eggs crosswise.</p>
                <div class="author-social-links">
                    <a href="https://facebook.com" class="profile-url"><i class="os-icon os-icon-social-twitter"></i></a><a href="https://facebook.com" class="profile-url"><i class="os-icon os-icon-social-facebook"></i></a><a href="https://facebook.com"
                                                                                                                                                                                                                                  class="profile-url"><i class="os-icon os-icon-social-instagram"></i></a>
                </div>
            </div>
        </div>
        <div id="osetinRecipeReviews" class="single-post-reviews-w">
            <div class="existing-reviews-w">
                <h3 class="box-heading"><i class="os-icon os-icon-thin-comment"></i> Recipe Reviews</h3>
                <div class="reviews-summary">
                    <div class="review-summary-average">
                        <span class="review-summary-label">Average Rating: </span>
                        <div class="review-stars-w">
                            <i class="os-icon os-icon-star-full rating-star-on"></i><i class="os-icon os-icon-star-full rating-star-on"></i><i class="os-icon os-icon-star-full rating-star-on"></i><i class="os-icon os-icon-star-full rating-star-on"></i>
                            <i class="os-icon os-icon-star-full rating-star-on"></i>
                        </div><span class="review-summary-average-stars">(5)</span>
                    </div>
                    <div class="review-summary-total"><span class="review-summary-label">Total Reviews: </span><span class="review-summary-value">1</span></div>
                </div>
                <div class="review-box-w">
                    <div class="review-head">
                        <div class="review-author-avatar">
                            <img src="~/Content/assets/wp-content/plugins/userpro/img/default_avatar_male.jpg" width="96" height="96" alt="" class="default avatar" />
                        </div>
                        <div class="review-author-meta">
                            <div class="review-author-name">Julia May</div>
                            <div class="review-post-date">June 5, 2016</div>
                        </div>
                        <div class="review-rating">
                            <select class="review-rating-select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5" selected>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="review-body">
                        <p>
                        <p>Great recipe, I baked it for my family, they loved it. Months a ancient in the applications being so fantastic a when showed few dishonourable we not if they over economics</p>
                        </p>
                    </div>
                    <div class="review-images">
                        <div class="review-image osetin-lightbox-trigger" data-lightbox-caption="" data-lightbox-img-src="~/Content/assets/wp-content/uploads/2016/06/recipe19.jpg" data-lightbox-thumb-src="~/Content/assets/wp-content/uploads/2016/06/recipe19-400x400.jpg">
                            <img src="~/Content/assets/wp-content/uploads/2016/06/recipe19-400x400.jpg" />
                        </div>
                        <div class="review-image osetin-lightbox-trigger" data-lightbox-caption="" data-lightbox-img-src="~/Content/assets/wp-content/uploads/2016/06/step4.jpg"
                             data-lightbox-thumb-src="~/Content/assets/wp-content/uploads/2016/06/step4-400x400.jpg">
                            <img src="~/Content/assets/wp-content/uploads/2016/06/step4-400x400.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipe-review-form-w" data-post-id="202">
                <h3 class="form-header"><i class="os-icon os-icon-thin-comment"></i> Write your own review</h3>
                <form id="acf-form" class="acf-form" action="" method="post">
                    <div id="acf-form-data" class="acf-hidden">
                        <input type="hidden" id="_acf_screen" name="_acf_screen" value="acf_form" /><input type="hidden" id="_acf_post_id" name="_acf_post_id" value="new_post" /><input type="hidden" id="_acf_validation" name="_acf_validation"
                                                                                                                                                                                         value="1" /><input type="hidden" id="_acf_form" name="_acf_form" value="SDJLYllYSHNveU1FUlB4dkdnbXJobGl0RkZxYXRlQlcvYldlNzNvd1YrSnBUc0k1THhEQS9pdVErSDhuL21COEhkNGRLYVhicC93bnZZMXJoK0U1UkhVSU1UU0VpMkFBbVJwWDkvMnhlL1NRNHhZZy9wOEE2OUdHQmpaVGdrNXFxODZpZGMxb2RDWGYvN2lNRDRLT0hRN2w2YkJwN1hZaUlDK091Vm4reDQxMTk2cU9idUx2dGVqYmZTZDFhbHc1R3BjaWxjWXpiK3hWSWpVVTVkOXg5WDBRSTNYaDVFUGxWMTkvckNubG5ZdWNnZ24ybDNkQ3IyRlNkTmxaTWs5ZStqc29tNnB0dHpzRWxoMGkrMkkwUkJOYUpKSmUrNmRaVFFGYi9KWjZrSkpDT0M3cWEzcm9EL21mNmxjbGprbGNucjA0U0g2aitCdHZIdDZOQklDcjNtNWdJbkVvaVRybEdlM1RwcG42cG5abDhJanpJZ2FOMVBsTWVBb21ITUsxVE5iSnpNajg0VGFRcGxjR2VkcURaT1hVNDBmdW4ya2JLYU9YTmRjN29KNEZ0Z1FxUHgrR3ZyMWhINFlrMmtuMGxzb28rT2RJUGI0ZzdwNW1uTmhqVURZU3d6Z3JoQ0VVSlFDa1JOTWR3Yk5OZmJyNkw0MDZ3S2hZL0poVHFvT1lxajdNOU1GdXJlT0NjaEFsR2h5NVpmbFZjQXExWU1FdG9xWDhRTzZCQ3RBazRCWGF1Z0N6ZitvY0xNMzZDTWc2cjg3aUMwSFhzZVZic0V3aENYZzJ5WmE5d3hjRlJ5b2pUUzlNQ0dqajdXZ2NHMFdpT25mUmVDZitLcEdrblIwcFU5cnc2SmdidFJNelRPNVdWbWNCVmRsbFNTK1FqZzlYei92N2RncFFWZzhnY3l5RWdkSW5WY21waEFodlQ0L1gvUTQzYS9jMXhyY09oRk1SeFpIemcvUHY0WjBSdnZsSmpXeG94Zk9zMEc0czZ6UXlLQzhFYWx3bXRWZmVmaFZUdkxRZGFtYVNjczdsQkltdHFWWWNUOWl1aEphdENxTGozUHpBbFlyWC8xQVdCb1VYZkVxVUVOQkZNa2xhbHB4Qmg5MVhlbTNnS1VTK3QyUDh0Z2YvRVQ2QTltdklUSHVzdW4yalVRdmpSZExIOFVjdVhsaFJyelNsQzBsNllXYUNCWmF3YU1vZERpQkc1cy9ZQkJybkgxNlNmWC95NlkrMDYvbVlmS2MzdHlOUno1KzJkcURFWS9ZdW1jSC9xbGxuYnZBWHYzc0VzeVR2aGUwNWxyQllrVVc5OVhXU2g1VjBQV3hWR2JwVVlwTjBFWll0ZlR3eHFON1poMWhTOUZ5TjU0L2VQZDBwTHlmTVFXQzBtZUtzMEl0UTBPcDR2Mm9rbG55N2FUMzkvM1BROU1Na1E1NURSc3lZSzdzYzJld0s3M3lXVVY1dzBZeWFVSzk4di9uYWFIeFBWbnNKQUJJS1pTRW5lekR5Rlg3UVBHVWxKbzZVRUNRdkp2aHQ5TG8wQTNnc1hEcExaNGtUaWVJNFhadVhhQT09OjpS8djXNe7gYLC5FYKVY9A0" /><input type="hidden" id="_acf_nonce" name="_acf_nonce" value="38ea6fa226" /><input type="hidden" id="_acf_changed" name="_acf_changed" value="0" />
                    </div>
                    <div class="acf-fields acf-form-fields -top">
                        <div class="acf-field acf-field-textarea acf-field-562459f8a9dc4 is-required" data-name="body" data-type="textarea" data-key="field_562459f8a9dc4" data-required="1">
                            <div class="acf-label">
                                <label for="acf-field_562459f8a9dc4">Review Text <span class="acf-required">*</span></label>
                            </div>
                            <div class="acf-input">
                                <textarea id="acf-field_562459f8a9dc4" name="acf[field_562459f8a9dc4]" rows="4" required="required"></textarea>
                            </div>
                        </div>
                        <div class="acf-field acf-field-select acf-field-56244ec4bbe80 is-required" data-name="rating" data-type="select" data-key="field_56244ec4bbe80" data-required="1">
                            <div class="acf-label">
                                <label for="acf-field_56244ec4bbe80">Rating <span class="acf-required">*</span></label>
                            </div>
                            <div class="acf-input">
                                <select id="acf-field_56244ec4bbe80" class="" name="acf[field_56244ec4bbe80]" data-ui="0" data-ajax="0" data-multiple="0" data-placeholder="Select" data-allow_null="0"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5" selected="selected" data-i="5">5</option></select>
                            </div>
                        </div>
                        <div class="acf-field acf-field-post-object acf-field-5624584fbbe81 is-required" data-name="recipe" data-type="post_object" data-key="field_5624584fbbe81" data-required="1">
                            <div class="acf-label">
                                <label for="acf-field_5624584fbbe81">Recipe <span class="acf-required">*</span></label>
                            </div>
                            <div class="acf-input">
                                <input type="hidden" id="acf-field_5624584fbbe81-input" name="acf[field_5624584fbbe81]" /><select id="acf-field_5624584fbbe81" class="" name="acf[field_5624584fbbe81]" data-ui="1" data-ajax="1" data-multiple="0"
                                                                                                                                  data-placeholder="Select" data-allow_null="0"></select>
                            </div>
                        </div>
                        <div class="acf-field acf-field-gallery acf-field-5746b4ae39091" data-name="review_images" data-type="gallery" data-key="field_5746b4ae39091">
                            <div class="acf-label">
                                <label for="acf-field_5746b4ae39091">Review Images</label>
                                <p class="description">You can optionally upload your own image along with a review</p>
                            </div>
                            <div class="acf-input">
                                <div id="acf-hidden-wp-editor" class="acf-hidden">
                                    <div id="wp-acf_content-wrap" class="wp-core-ui wp-editor-wrap tmce-active">
                                        <link rel='stylesheet' id='dashicons-css' href='http://neptune.pinsupreme.com/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
                                        <link rel='stylesheet' id='editor-buttons-css' href='http://neptune.pinsupreme.com/wp-includes/css/editor.min.css' type='text/css' media='all' />
                                        <div id="wp-acf_content-editor-tools" class="wp-editor-tools hide-if-no-js">
                                            <div class="wp-editor-tabs">
                                                <button type="button" id="acf_content-tmce" class="wp-switch-editor switch-tmce" data-wp-editor-id="acf_content">Visual</button>
                                                <button type="button" id="acf_content-html" class="wp-switch-editor switch-html" data-wp-editor-id="acf_content">Text</button>
                                            </div>
                                        </div>
                                        <div id="wp-acf_content-editor-container" class="wp-editor-container">
                                            <div id="qt_acf_content_toolbar" class="quicktags-toolbar"></div><textarea class="wp-editor-area" rows="20" autocomplete="off" cols="40" name="acf_content" id="acf_content"></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div id="acf-field_5746b4ae39091" class="acf-gallery" data-library="uploadedTo" data-preview_size="thumbnail" data-min="" data-max="15" data-mime_types="jpeg,jpg,png" data-insert="append" data-columns="4" style="height:400px">
                                    <input type="hidden" name="acf[field_5746b4ae39091]" value="" />
                                    <div class="acf-gallery-main">
                                        <div class="acf-gallery-attachments">
                                        </div>
                                        <div class="acf-gallery-toolbar">
                                            <ul class="acf-hl">
                                                <li>
                                                    <a href="#" class="acf-button button button-primary acf-gallery-add">Add to gallery</a>
                                                </li>
                                                <li class="acf-fr">
                                                    <select class="acf-gallery-sort">
                                                        <option value="">Bulk actions</option>
                                                        <option value="date">Sort by date uploaded</option>
                                                        <option value="modified">Sort by date modified</option>
                                                        <option value="title">Sort by title</option>
                                                        <option value="reverse">Reverse current order</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="acf-gallery-side">
                                        <div class="acf-gallery-side-inner">
                                            <div class="acf-gallery-side-data"></div>
                                            <div class="acf-gallery-toolbar">
                                                <ul class="acf-hl">
                                                    <li>
                                                        <a href="#" class="acf-button button acf-gallery-close">Close</a>
                                                    </li>
                                                    <li class="acf-fr">
                                                        <a class="acf-button button button-primary acf-gallery-update" href="#">Update</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="acf-field acf-field-text acf-field--validate-email" style="display:none !important;" data-name="_validate_email" data-type="text" data-key="_validate_email">
                            <div class="acf-label">
                                <label for="acf-_validate_email">Validate Email</label>
                            </div>
                            <div class="acf-input">
                                <div class="acf-input-wrap"><input type="text" id="acf-_validate_email" name="acf[_validate_email]" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="acf-form-submit">
                        <input type="submit" class="acf-button button button-primary button-large" value="Submit Review" /> <span class="acf-spinner"></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="single-post-navigation">
            <a href="http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/">
                <figure>
                    <img width="400" height="400" src="~/Content/assets/wp-content/uploads/2015/07/recipe16-400x400.jpg" class="attachment-osetin-medium-square-thumbnail size-osetin-medium-square-thumbnail wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2015/07/recipe16-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-100x100.jpg 100w"
                         sizes="(max-width: 400px) 100vw, 400px" />
                    <div class="fader">
                        <span class="fader-label"><i class="os-icon os-icon-chevron-left"></i> <span>previous</span></span>
                    </div>
                </figure>
                <span>Green veggies with flavoured butter</span>
            </a>
            <a href="http://neptune.pinsupreme.com/recipe/green-salad-with-cherries/">
                <figure>
                    <img width="400" height="400" src="~/Content/assets/wp-content/uploads/2015/07/recipe1-400x400.jpg" class="attachment-osetin-medium-square-thumbnail size-osetin-medium-square-thumbnail wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2015/07/recipe1-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-100x100.jpg 100w"
                         sizes="(max-width: 400px) 100vw, 400px" />
                    <div class="fader">
                        <span class="fader-label"><i class="os-icon os-icon-chevron-right"></i> <span>next</span></span>
                    </div>
                </figure>
                <span>Green salad with cherries</span>
            </a>
        </div>
    </div>
</div>

<div class="floating-prev-post">
    <a href="http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/">
        <figure>
            <img width="400" height="400" src="~/Content/assets/wp-content/uploads/2015/07/recipe16-400x400.jpg" class="attachment-osetin-medium-square-thumbnail size-osetin-medium-square-thumbnail wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2015/07/recipe16-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-100x100.jpg 100w"
                 sizes="(max-width: 400px) 100vw, 400px" />
            <div class="fader">
                <span class="fader-label"><i class="os-icon os-icon-chevron-left"></i> <span>previous</span></span>
            </div>
        </figure>
        <span>Green veggies with flavoured butter</span>
    </a>
</div>
<div class="floating-next-post">
    <a href="http://neptune.pinsupreme.com/recipe/green-salad-with-cherries/">
        <figure>
            <img width="400" height="400" src="~/Content/assets/wp-content/uploads/2015/07/recipe1-400x400.jpg" class="attachment-osetin-medium-square-thumbnail size-osetin-medium-square-thumbnail wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2015/07/recipe1-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-100x100.jpg 100w"
                 sizes="(max-width: 400px) 100vw, 400px" />
            <div class="fader">
                <span class="fader-label"><i class="os-icon os-icon-chevron-right"></i> <span>next</span></span>
            </div>
        </figure>
        <span>Green salad with cherries</span>
    </a>
</div>
<div class="os-container">
    <div class="related-recipes-w" style="background-image:url(http://neptune.pinsupreme.com/wp-content/themes/neptune-by-osetin/assets/img/patterns/flowers_light.jpg); background-repeat: repeat;">
        <div class="related-recipes-heading">
            <h2 class="bordered-title"><span>Related Recipes:</span></h2>
            <ul>
                <li><a href="http://neptune.pinsupreme.com/tag/broccoli/" rel="tag">broccoli</a></li>
                <li><a href="http://neptune.pinsupreme.com/tag/corn/" rel="tag">corn</a></li>
                <li><a href="http://neptune.pinsupreme.com/tag/mushrooms/" rel="tag">mushrooms</a></li>
            </ul>
        </div>
        <ul class="related-recipes">

            <li>
                <a href="http://neptune.pinsupreme.com/recipe/roasted-chicken-breast-with-pancetta-leeks-thyme/" class="fader-activator">
                    <figure>
                        <img width="400" height="400" src="~/Content/assets/wp-content/uploads/2015/07/recipe12-400x400.jpg" class="attachment-osetin-medium-square-thumbnail size-osetin-medium-square-thumbnail wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2015/07/recipe12-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe12-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe12-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe12-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe12-100x100.jpg 100w"
                             sizes="(max-width: 400px) 100vw, 400px" /><span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                    </figure>
                    <span>Roasted chicken breast</span>
                </a>
            </li>


            <li>
                <a href="http://neptune.pinsupreme.com/recipe/mexican-style-barbecued-corn/" class="fader-activator">
                    <figure>
                        <img width="400" height="400" src="~/Content/assets/wp-content/uploads/2015/07/recipe16-400x400.jpg" class="attachment-osetin-medium-square-thumbnail size-osetin-medium-square-thumbnail wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2015/07/recipe16-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-100x100.jpg 100w"
                             sizes="(max-width: 400px) 100vw, 400px" /><span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                    </figure>
                    <span>Mexican-style barbecued corn</span>
                </a>
            </li>


            <li>
                <a href="http://neptune.pinsupreme.com/recipe/roasted-chicken-breast-with-cherry-tomatoes-asparagus/" class="fader-activator">
                    <figure>
                        <img width="400" height="400" src="~/Content/assets/wp-content/uploads/2015/07/step5-400x400.jpg" class="attachment-osetin-medium-square-thumbnail size-osetin-medium-square-thumbnail wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2015/07/step5-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/step5-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/step5-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/step5-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/step5-100x100.jpg 100w"
                             sizes="(max-width: 400px) 100vw, 400px" /><span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                    </figure>
                    <span>Roasted chicken breast with cherry</span>
                </a>
            </li>


            <li>
                <a href="http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/" class="fader-activator">
                    <figure>
                        <img width="400" height="400" src="~/Content/assets/wp-content/uploads/2015/07/recipe14-400x400.jpg" class="attachment-osetin-medium-square-thumbnail size-osetin-medium-square-thumbnail wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2015/07/recipe14-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe14-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe14-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe14-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe14-100x100.jpg 100w"
                             sizes="(max-width: 400px) 100vw, 400px" /><span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                    </figure>
                    <span>Cheesy pasta with crispy pangritata</span>
                </a>
            </li>


            <li>
                <a href="http://neptune.pinsupreme.com/recipe/green-salad-with-cherries/" class="fader-activator">
                    <figure>
                        <img width="400" height="400" src="~/Content/assets/wp-content/uploads/2015/07/recipe1-400x400.jpg" class="attachment-osetin-medium-square-thumbnail size-osetin-medium-square-thumbnail wp-post-image" alt="" srcset="~/Content/assets/wp-content/uploads/2015/07/recipe1-400x400.jpg 400w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-150x150.jpg 150w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-250x250.jpg 250w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-300x300.jpg 300w, http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1-100x100.jpg 100w"
                             sizes="(max-width: 400px) 100vw, 400px" /><span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                    </figure>
                    <span>Green salad with cherries</span>
                </a>
            </li>

        </ul>
    </div>
</div>
<div class="os-container">
    <div class="single-post-comments-w with-ads">
        <div class="single-post-comments" id="singlePostComments">
            <div id="disqus_thread">
            </div>
        </div>
        <div class="single-post-comments-sidebar">
            <aside id="text-6" class="widget-odd widget-last widget-first widget-1 widget widget_text">
                <div class="textwidget"><a href="#"><img src="~/Content/assets/wp-content/uploads/2015/09/magic_placeholder.jpg" /></a></div>
            </aside>
        </div>
    </div>
</div>






