.select2-selection--single {
    height: 33px;
}
.sort-link {
    margin-right: 5px;
}
.input-custom {
    background-color: #fff; 
    border: 1px solid #aaa; 
    border-radius: 4px;
}
#datefilter {
    padding-left: 45px;
}
.icon-calendar {
    top: 7px;
    left: 35px;
    font-size: 20px;
}
.image-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}
#chart_div {
    width: 100%;
    min-height: 450px;
}
select [name='order-listing_length'] {
    width: 60px;
}

a:hover{
    text-decoration: none;
}
