<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <link rel="shortcut icon" href="/Content/img/favicon.png?3">
    <link href="~/Content/css/dialog-custom.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    @*<link href="~/Content/css/data-table.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="~/Content/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Content/css/jquery.toast.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/css")


</head>
<body>
    <!-- navbar-->
    <header class="header">
        <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
            <a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a><a href="#" class="navbar-brand font-weight-bold text-uppercase text-base "> JamesThewDOTcom</a>
            <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
                <li class="nav-item">

                </li>
                <li class="nav-item dropdown mr-3">
                    <a id="notifications" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle text-gray-400 px-1"><i class="fa fa-bell"></i><span class="notification-icon"></span></a>
                    <div aria-labelledby="notifications" class="dropdown-menu">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-sm bg-violet text-white"><i class="fab fa-twitter"></i></div>
                                <div class="text ml-2">
                                    <p class="mb-0">You have 2 followers</p>
                                </div>
                            </div>
                        </a><a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-sm bg-green text-white"><i class="fas fa-envelope"></i></div>
                                <div class="text ml-2">
                                    <p class="mb-0">You have 6 new messages</p>
                                </div>
                            </div>
                        </a><a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-sm bg-blue text-white"><i class="fas fa-upload"></i></div>
                                <div class="text ml-2">
                                    <p class="mb-0">Server rebooted</p>
                                </div>
                            </div>
                        </a><a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="icon icon-sm bg-violet text-white"><i class="fab fa-twitter"></i></div>
                                <div class="text ml-2">
                                    <p class="mb-0">You have 2 followers</p>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div><a href="#" class="dropdown-item text-center"><small class="font-weight-bold headings-font-family text-uppercase">View all notifications</small></a>
                    </div>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a id="userInfo" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src="/Content/img/avatar-6.jpg" alt="Jason Doe" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow"></a>
                    <div aria-labelledby="userInfo" class="dropdown-menu">
                        <a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">Mark Stephen</strong><small>Web Developer</small></a>
                        <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Settings</a><a href="#" class="dropdown-item">Activity log       </a>
                        <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <div id="sidebar" class="sidebar py-3">
            <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
            <ul class="sidebar-menu list-unstyled">
                <li class="sidebar-list-item home" data-link="home"><a href="/admin" class="sidebar-link text-muted"><i class="fas fa-home mr-3 text-gray"></i><span>Home</span></a></li>
                <li class="sidebar-list-item student" data-link="student"><a href="../Admin/User" class="sidebar-link text-muted"><i class="fas fa-user-graduate mr-3 text-gray"></i><span>User</span></a></li>


                <li class="sidebar-list-item">
                    <a href="#" data-toggle="collapse" data-target="#member" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fas fa-clipboard-list mr-3 text-gray"></i><span>Member</span></a>
                    <div id="member" class="collapse">
                        <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">

                            <li class="sidebar-list-item add-discipline"><a href="" data-toggle="modal" data-target="#Modal-Add-Discipline" class="sidebar-link text-muted pl-lg-5">Normal Member</a></li>
                            <li class="sidebar-list-item"><a href="/DisciplineDefaults" class="sidebar-link text-muted pl-lg-5">Vip Member</a></li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" data-toggle="collapse" data-target="#Recipes" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fas fa-clipboard-list mr-3 text-gray"></i><span>Recipes</span></a>
                    <div id="Recipes" class="collapse">
                        <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                            <li class="sidebar-list-item"><a href="/admin/RecipeNotApprove" class="sidebar-link text-muted pl-lg-5">Not Approved</a></li>
                            <li class="sidebar-list-item add-discipline"><a href="recipes"  class="sidebar-link text-muted pl-lg-5">Approved</a></li>

                        </ul>
                    </div>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" data-toggle="collapse" data-target="#Comment" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fas fa-clipboard-list mr-3 text-gray"></i><span>Commnet</span></a>
                    <div id="Comment" class="collapse">
                        <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                            <li class="sidebar-list-item"><a href="/admin/CommentNotApprove" class="sidebar-link text-muted pl-lg-5">Not Approved</a></li>
                            <li class="sidebar-list-item"><a href="/admin/CommentApproved" class="sidebar-link text-muted pl-lg-5">Approved</a></li>

                        </ul>
                    </div>
                </li>            </ul>
        </div>
        <div class="page-holder w-100 d-flex flex-wrap">
            <div class="container-fluid px-xl-5">

                @RenderBody()

               
            </div>
            <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-left text-primary">
                            <p class="mb-2 mb-md-0">T1807E &copy; 2019</p>
                        </div>
                        <div class="col-md-6 text-center text-md-right text-gray-400">
                            <p class="mb-0">Design by <a href="#" class="external text-gray-400">T1807E</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="~/Content/js/charts-home.js"></script>
    <script src="~/Content/js/front.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script src="~/Content/js/jquery.dataTables.js"></script>
    <script src="~/Content/js/dataTables.bootstrap4.js"></script>
    <script src="~/Content/js/data-table.js"></script>

    <!-- Notification -->
    <script src="~/Content/js/alert/jquery.toast.min.js"></script>
    <script src="~/Content/js/alert/toastDemo.js"></script>
    <!-- Popup -->
    <script src="~/Content/js/alert/sweetalert.min.js"></script>
    <script src="~/Content/js/alert/jquery.avgrund.min.js"></script>
    <script src="~/Content/js/alert/alerts.js"></script>
    <script src="~/Content/js/alert/avgrund.js"></script>
    <script src="~/Content/js/custom-select-option.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/Content/js/add-discipline.js"></script>
    <script src="~/Content/js/custom.js"></script>


    <script>
        var pathName = window.location.pathname;
        $('.sidebar-list-item a').each(function () {
            var $this = $(this);
            if ($this.attr('href') == pathName) {
                $this.addClass('active');
            }
        });
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>